<template>
  <!-- Main container -->
  <div :class="'ms_button' + (fluid ? ' fluid' : '') + (disabled ? ' disabled' : '') + (inline ? ' inline' : '')">
    <!-- Layer for effects -->
    <div v-if="cornerEffects" class="ms_button_effects_layer">
      <!-- Bottom left corner line -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100"
        role="presentation"
        width="20"
        height="20"
        class="corner_line corner_line_BL"
      >
        <g>
          <path
            d="M5,0 5,55 45,95 100,95"
            :stroke="cornerLinesColor"
            stroke-width="10"
            fill="transparent"
          />
        </g>
      </svg>
      <!-- Top right corner line -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100"
        role="presentation"
        width="20"
        height="20"
        class="corner_line corner_line_TR"
      >
        <g>
          <path
            d="M0,5 55,5 95,45 95,100"
            :stroke="cornerLinesColor"
            stroke-width="10"
            fill="transparent"
          />
        </g>
      </svg>
    </div><!-- End svg & corner effects -->

    <!-- Button element -->
    <b-button
      v-ripple="rippleColor"
      :variant="computedVariant"
      :pressed="false"
      :class="'ms_button_element'"
    >
      <!-- Default slot: button content -->
      <div :class="'text-' + textAlign"><!-- dynamic class for text alignment -->
        <!-- @slot Button content -->
        <slot>
          {{ $t('global.ok') }}
        </slot>
      </div>
    </b-button>

  </div><!-- End main container -->
</template>

<script>
/**
 * @vuepress
 * ---
 * title: MsButton component
 * headline: "MyStation component: MsButton"
 * sidebarDepth: 0 # To disable auto sidebar links
 * prev: false # Disable prev link
 * next: false # Disable prev link
 * ---
 */

import Color from 'color'

/**
 * MsButton component
 * @vuepress_global_component
 */
export default {
  name: 'MsButton',
  data () {
    return {
      buttonElement: null,
      resizeObserver: null
    }
  },
  props: {
    /**
     * Bootstrap variant for the button
     */
    variant: {
      type: String,
      default: 'secondary'
    },
    /**
     * Define text alignment
     */
    textAlign: {
      type: String,
      default: 'center'
    },
    /**
     * Define corner effects
     */
    cornerEffects: {
      type: Boolean,
      default: true
    },
    /**
     * Define if button is full width
     */
    fluid: {
      type: Boolean,
      default: false
    },
    /**
     * Define if button is disabled
     */
    disabled: {
      type: Boolean,
      default: false
    },
    /**
     * Define if button is displayed as inline-block
     */
    inline: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    /**
     * Check disabled state to return variant
     */
    computedVariant: function () {
      if (this.disabled) {
        return 'secondary'
      } else {
        return this.variant
      }
    },
    /**
     * Generate ripple color based on this.computedVariant
     */
    rippleColor: function () {
      let rippleColor
      switch (this.computedVariant) {
        case 'primary':
          rippleColor = Color(__THEME_SECONDARY_COLOR__).lighten(0.8).rgb().alpha(0.4).string()
          break
        case 'secondary':
          rippleColor = Color(__THEME_TERTIARY_COLOR__).lighten(0.8).rgb().alpha(0.4).string()
          break
        default:
          rippleColor = 'rgba(255, 255, 255, 0.35)'
          break
      }
      return rippleColor
    },
    cornerLinesColor: function () {
      let cornerLinesColor
      switch (this.computedVariant) {
        case 'primary':
          cornerLinesColor = __THEME_SECONDARY_COLOR__
          break
        case 'secondary':
          cornerLinesColor = __THEME_TERTIARY_COLOR__
          break
        case 'tertiary':
          cornerLinesColor = 'grey'
          break
        case 'action':
          cornerLinesColor = __THEME_MS_BLUE_COLOR__
          break
        case 'warning':
          cornerLinesColor = __THEME_MS_RED_COLOR__
          break
        default:
          cornerLinesColor = __THEME_TERTIARY_COLOR__
          break
      }
      return cornerLinesColor
    }
  },
  methods: {
    /**
     * Update clip-path on resize
     */
    updateMask: function () {
      // Define default clip path to 'out'
      this.buttonElement.style['clip-path'] = this.cornerMaskPathOut()
      // Define transition
      this.buttonElement.style.transition = 'all 400ms'
      // Define mouse enter event
      this.buttonElement.onmouseenter = () => {
        this.buttonElement.style['clip-path'] = this.cornerMaskPathActive()
      }
      // Define mouse leave event
      this.buttonElement.onmouseleave = () => {
        this.buttonElement.style['clip-path'] = this.cornerMaskPathOut()
      }
    },
    cornerMaskPathActive: function () {
      const width = this.buttonElement.clientWidth
      const height = this.buttonElement.clientHeight
      return `path("M0,0 ${width - 6},0 ${width},6 ${width},${height} 6,${height} 0,${height - 6}z")`
    },
    cornerMaskPathOut: function () {
      const width = this.buttonElement.clientWidth
      const height = this.buttonElement.clientHeight
      return `path("M0,0 ${width - 2},0 ${width},2 ${width},${height} 2,${height} 0,${height - 2}z")`
    }
  },
  mounted () {
    // Loop en child nodes and retrieve by classname 'ms_button_element'
    // Don't use this.$refs: because no need to create unique id to retrieve elements...
    this.buttonElement = [ ...this.$el.childNodes ].find((el) => {
      return el.className.match(/ms_button_element/)
    })
    // Apply mask if cornerEffects prop to true
    if (this.cornerEffects) {
      // Apply mask
      this.updateMask()
      // Init resize observer
      this.resizeObserver = new ResizeObserver((entries) => {
        this.updateMask()
      })
      this.resizeObserver.observe(this.buttonElement)
    }
  },
  destroyed () {
    delete this.resizeObserver
  }
}
</script>

<style lang="scss">

$corners-moving-size: 6px;

.ms_button {

  position: relative;
  width: max-content; // Adapt container width to content (not fluid by default)
  height: 46px; // Fixed height
  display: block;
  animation: 400ms buttonBorderReset;

  &.fluid {
    width: 100%; // Make it fluid
  }

  &.disabled {
    pointer-events: none;
    .btn {
      color: grey !important;
    }
  }

  &.inline {
    display: inline-block;
    margin-right: $ms-margin-s;
  }

  // Corner effects and svg
  .ms_button_effects_layer {

    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    .corner_line {

      position: absolute;

      // Bottom left
      &.corner_line_BL {
        bottom: 0;
        left: 0;
        opacity: 0;
        // animation: 400ms disappearBL;
      }
      // Top right
      &.corner_line_TR {
        top: 0;
        right: 0;
        opacity: 0;
        // animation: 400ms disappearTR;
      }

    }
  }

  // Button element
  .ms_button_element {

    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    padding: $ms-padding-s $ms-padding-m;
    border-radius: 2px;

  }

  &:hover {

    animation: 400ms buttonBorderDraw;

    .ms_button_effects_layer {

      .corner_line {

        // Bottom left
        &.corner_line_BL {
          bottom: -$corners-moving-size;
          left: -$corners-moving-size;
          opacity: 1;
          animation: 400ms appearBL;
        }
        // Top right
        &.corner_line_TR {
          top: -$corners-moving-size;
          right: -$corners-moving-size;
          opacity: 1;
          animation: 400ms appearTR;
        }

      }
    }
  }
}

@keyframes appearBL {
  from { bottom: 0; left: 0; opacity: 0; }
  to { bottom: -$corners-moving-size; left: -$corners-moving-size; opacity: 1; }
}

@-moz-keyframes appearBL {
  from { bottom: 0; left: 0; opacity: 0; }
  to { bottom: -$corners-moving-size; left: -$corners-moving-size; opacity: 1; }
}

@-webkit-keyframes appearBL {
  from { bottom: 0; left: 0; opacity: 0; }
  to { bottom: -$corners-moving-size; left: -$corners-moving-size; opacity: 1; }
}

@keyframes appearTR {
  from { top: 0; right: 0; opacity: 0; }
  to { top: -$corners-moving-size; right: -$corners-moving-size; opacity: 1; }
}

@-moz-keyframes appearTR {
  from { top: 0; right: 0; opacity: 0; }
  to { top: -$corners-moving-size; right: -$corners-moving-size; opacity: 1; }
}

@-webkit-keyframes appearTR {
  from { top: 0; right: 0; opacity: 0; }
  to { top: -$corners-moving-size; right: -$corners-moving-size; opacity: 1; }
}

@keyframes disappearBL {
  from { bottom: -$corners-moving-size; left: -$corners-moving-size; opacity: 1; }
  to { bottom: 0; left: 0; opacity: 0; }
}

@-moz-keyframes disappearBL {
  from { bottom: -$corners-moving-size; left: -$corners-moving-size; opacity: 1; }
  to { bottom: 0; left: 0; opacity: 0; }
}

@-webkit-keyframes disappearBL {
  from { bottom: -$corners-moving-size; left: -$corners-moving-size; opacity: 1; }
  to { bottom: 0; left: 0; opacity: 0; }
}

@keyframes disappearTR {
  from { top: -$corners-moving-size; right: -$corners-moving-size; opacity: 1; }
  to { top: 0; right: 0; opacity: 0; }
}

@-moz-keyframes disappearTR {
  from { top: -$corners-moving-size; right: -$corners-moving-size; opacity: 1; }
  to { top: 0; right: 0; opacity: 0; }
}

@-webkit-keyframes disappearTR {
  from { top: -$corners-moving-size; right: -$corners-moving-size; opacity: 1; }
  to { top: 0; right: 0; opacity: 0; }
}

@keyframes buttonBorderDraw {
  from { border-radius: 2px; }
  to { border-radius: 2px 8px; }
}

@-moz-keyframes buttonBorderDraw {
  from { border-radius: 2px; }
  to { border-radius: 2px 8px; }
}

@-webkit-keyframes buttonBorderDraw {
  from { border-radius: 2px; }
  to { border-radius: 2px 8px; }
}

@keyframes buttonBorderReset {
  from { border-radius: 2px 8px; }
  to { border-radius: 2px; }
}

@-moz-keyframes buttonBorderReset {
  from { border-radius: 2px 8px; }
  to { border-radius: 2px; }
}

@-webkit-keyframes buttonBorderReset {
  from { border-radius: 2px 8px; }
  to { border-radius: 2px; }
}
</style>
