<template>
  <b-container id="settings-container" fluid>
    <b-row>
      <b-col>

        <!-- Role informations -->
        <div class="settings-user-role-info">
          <p v-if="$root.auth.user().role === 'admin'" class="text-green">{{ $t('global.adminPrivilegesMsg') }}</p>
          <p v-else class="text-red">{{ $t('global.defaultPrivilegesMsg') }}</p>
        </div>

        <!-- No user warning message -->
        <p v-if="$root.auth.user().role === 'admin' && users.length < 2" class="bg-secondary p-2" style="color: orange;">
          <v-icon name="exclamation-circle" scale=0.8 :style="'margin-top: -2px; color: orange;'"></v-icon>
          {{ $t('global.settings.noUserWarningMessage') }}
        </p>

        <!-- General -->
        <p
          class="h2 pb-2"
          v-b-toggle.collapse-general
          :style="`transition: 400ms all ease; margin-bottom: 12px; border-bottom: 2px solid ${collapseIconName('collapse-general') === 'caret-down' ? GLOBALS.__THEME_SECONDARY_COLOR__ : 'transparent'};`"
        >
          {{ $t('global.general') | capitalize }} <v-icon :name="collapseIconName('collapse-general')" style="float: right; margin-top: 12px;"></v-icon>
        </p>
        <b-collapse id="collapse-general" ref="collapse-general">
          <div class="settings-block">
            <ul class="settings-list list-unstyled">
              <li class="settings-list-item">{{ $t('global.settings.msVersion') }}:
                <span class="item-value">{{ system.msVersion }}</span>
                <span class="item-value text-blue bg-secondary" :style="`border: 2px solid ${GLOBALS.__THEME_MS_BLUE_COLOR__};`">{{ $t('global.lastVersion') | capitalize }}: {{ lastVersion }}</span>
                <ms-button
                  @click.native="getLastVersion"
                  text-align="left"
                  variant="tertiary"
                  inline
                  class="ml-2 mr-0"
                ><v-icon name="sync-alt" scale=0.8 style="margin-top:-2px;"></v-icon> {{ $t('global.search') | capitalize }}</ms-button>
                <ms-button
                  v-if="$root.auth.user().role === 'admin'"
                  @click.native="handleUpdate"
                  text-align="left"
                  variant="action"
                  inline
                  class="ml-2 mr-0"
                >{{ $t('global.update') | capitalize }}</ms-button>
              </li>
            </ul>
          </div>
        </b-collapse>

        <!-- Network -->
        <p
          class="h2 pb-2"
          v-b-toggle.collapse-network
          :style="`transition: 400ms all ease; margin-bottom: 12px; border-bottom: 2px solid ${collapseIconName('collapse-network') === 'caret-down' ? GLOBALS.__THEME_SECONDARY_COLOR__ : 'transparent'};`"
        >
          {{ $t('global.network') | capitalize }} <v-icon :name="collapseIconName('collapse-network')" style="float: right; margin-top: 12px;"></v-icon>
        </p>
        <b-collapse id="collapse-network" ref="collapse-network">
          <div class="settings-block">
            <ul class="settings-list list-unstyled">
              <li class="settings-list-item">{{ $t('global.settings.network.clientIpAddr') }}:<span class="item-value">{{ system.clientIpAddr }}</span></li>
              <li class="settings-list-item">{{ $t('global.settings.network.sangoIpAddr') }}:<span class="item-value">{{ system.sango.ipAddr }}</span></li>
              <li class="settings-list-item">{{ $t('global.settings.network.sangoPort') }}:<span class="item-value">{{ system.sango.port }}</span></li>
              <li class="settings-list-item">{{ $t('global.settings.network.internetAvailability') }}:
                <!-- eslint-disable -->
                <span v-if="network.googleDNSStatus === null" class="item-value text-grey"><icon-basic-load width="24" height="24" color="grey"/> {{ $t('global.loading') | capitalize }}...</span>
                <span v-if="network.googleDNSStatus" class="item-value text-green">✔ <strong>{{ $t('global.settings.network.connected') | capitalize }}</strong>: {{ googleDNSUrl }}</span>
                <span v-if="network.googleDNSStatus === false" class="item-value text-red">❌ <strong>{{ $t('global.settings.network.notConnected') | capitalize }}</strong>: {{ googleDNSUrl }}</span>
                <!-- eslint-enable -->
                <!-- Retry network checking button -->
                <ms-button
                  v-if="network.googleDNSStatus !== null"
                  @click.native="checkGoogleDNS()"
                  text-align="left"
                  variant="tertiary"
                  inline
                  class="ml-2 mr-0"
                ><v-icon name="sync-alt" scale=0.8 style="margin-top:-2px;"></v-icon> {{ $t('global.testVerb') | capitalize }}</ms-button>
              </li>
              <li class="settings-list-item">{{ $t('global.settings.network.myStationWebAPIAvailability') }}:
                <!-- eslint-disable -->
                <span v-if="network.myStationWebAPIStatus === null" class="item-value text-grey"><icon-basic-load width="24" height="24" color="grey"/> {{ $t('global.loading') | capitalize }}...</span>
                <span v-if="network.myStationWebAPIStatus" class="item-value text-green">✔ <strong>{{ $t('global.settings.network.connected') | capitalize }}</strong>: {{ myStationWebAPIUrl }}</span>
                <span v-if="network.myStationWebAPIStatus === false" class="item-value text-red">❌ <strong>{{ $t('global.settings.network.notConnected') | capitalize }}</strong>: {{ myStationWebAPIUrl }}</span>
                <!-- eslint-enable -->
                <!-- Retry network checking button -->
                <ms-button
                  v-if="network.myStationWebAPIStatus !== null"
                  @click.native="checkMyStationWebAPI()"
                  text-align="left"
                  variant="tertiary"
                  inline
                  class="ml-2 mr-0"
                ><v-icon name="sync-alt" scale=0.8 style="margin-top:-2px;"></v-icon> {{ $t('global.testVerb') | capitalize }}</ms-button>
              </li>
            </ul>
          </div>
        </b-collapse>

        <!-- Configuration -->
        <p
          class="h2 pb-2"
          v-b-toggle.collapse-configuration
          :style="`transition: 400ms all ease; margin-bottom: 12px; border-bottom: 2px solid ${collapseIconName('collapse-configuration') === 'caret-down' ? GLOBALS.__THEME_SECONDARY_COLOR__ : 'transparent'};`"
        >
          {{ $t('global.configuration') | capitalize }} <v-icon :name="collapseIconName('collapse-configuration')" style="float: right; margin-top: 12px;"></v-icon>
        </p>
        <b-collapse id="collapse-configuration" ref="collapse-configuration">
          <div class="settings-block">
            <ul class="settings-list list-unstyled">
              <li class="settings-list-item">
                {{ $t('global.lang') | capitalize }}:
                <v-select
                  v-model="$i18n.locale"
                  label="name"
                  :options="$root.langs"
                  :reduce="lang => lang.lang"
                  :clearable="false"
                  :searchable="false"
                  class="mb-2"
                  style="display: inline-block; min-width: 170px; margin: 0 !important;"
                />
              </li>
            </ul>
          </div>
        </b-collapse>

        <!-- Users -->
        <p
          class="h2 pb-2"
          v-b-toggle.collapse-users
          :style="`transition: 400ms all ease; margin-bottom: 12px; border-bottom: 2px solid ${collapseIconName('collapse-users') === 'caret-down' ? GLOBALS.__THEME_SECONDARY_COLOR__ : 'transparent'};`"
        >
          {{ $t('global.users') | capitalize }} <v-icon :name="collapseIconName('collapse-users')" style="float: right; margin-top: 12px;"></v-icon>
        </p>
        <b-collapse id="collapse-users" ref="collapse-users">
          <p class="h5 pb-2">{{ $t('global.userRoles.admin') | capitalize }}</p>
          <!-- Administrators -->
          <div class="settings-block">
            <ul class="settings-list list-unstyled">
              <!-- First, admin user -->
              <li class="settings-list-item">
                <div style="display: inline-block;">
                  <v-icon name="user" scale=1.2 style="margin-top: -2px;"></v-icon>
                </div>
                <span class="item-value" style="color: orange">{{ getUser(1).username }}</span>
                <ms-button
                  v-if="$root.auth.user().role === 'admin'"
                  @click.native="SET_MUST_ADMIN_PASSWORD_BE_CHANGED(true)"
                  text-align="left"
                  variant="tertiary"
                  inline
                  class="ml-2"
                >{{ $t('modals.changeAdminPsswdModal.title') | capitalize }}
                  <v-icon name="exclamation-circle" scale=0.8 :style="'margin-top: -2px; color: ' + GLOBALS.__THEME_MS_RED_COLOR__ + ';'"></v-icon>
                </ms-button>
              </li>
            </ul>
          </div>
          <!-- Standard users -->
          <p class="h5 pb-2">{{ $t('global.userRoles.user') | capitalize }}</p>
          <div class="settings-block">
            <p v-if="!(standardUsers.length > 0)" class="text-muted">{{ $t('global.settings.noUserMessage') | capitalize }}</p>
            <ul v-else class="settings-list list-unstyled">
              <li v-for="user in standardUsers" class="settings-list-item" :key="user.id">
                <div style="display: inline-block;">
                  <v-icon name="user" scale=1.2 style="margin-top: -2px;"></v-icon>
                </div>
                <span class="item-value text-blue">{{ user.username }}</span>
                <!-- Edit user button -->
                <ms-button
                  v-if="$root.auth.user().role === 'admin' || $root.auth.user().id === user.id"
                  @click.native="handleEditUser(user)"
                  text-align="left"
                  variant="tertiary"
                  inline
                  class="ml-2 mr-0"
                ><v-icon name="edit" scale=0.8 style="margin-top:-2px;"></v-icon> {{ $t('global.edit') | capitalize }}</ms-button>
                <!-- Reset user password button -->
                <ms-button
                  v-if="$root.auth.user().role === 'admin' || $root.auth.user().id === user.id"
                  @click.native="handleResetUserPassword(user)"
                  text-align="left"
                  variant="tertiary"
                  inline
                  class="ml-2 mr-0"
                ><v-icon name="sync-alt" scale=0.8 style="margin-top:-2px;"></v-icon> {{ $t('modals.resetUserPsswdModal.title') | capitalize }}</ms-button>
                <!-- Delete user button -->
                <ms-button
                  v-if="$root.auth.user().role === 'admin' || $root.auth.user().id === user.id"
                  @click.native="handleDeleteUser(user)"
                  text-align="left"
                  variant="warning"
                  inline
                  class="ml-2 mr-0"
                ><v-icon name="times" scale=0.8 style="margin-top:-2px;"></v-icon> {{ $t('global.delete') | capitalize }}</ms-button>
              </li>
            </ul>
          </div>
          <!-- Create user button -->
          <ms-button
            v-if="$root.auth.user().role === 'admin'"
            @click.native="handleCreateUser"
            text-align="left"
            variant="secondary"
            class="mb-3"
          ><v-icon name="plus" scale=0.8 style="margin-top:-2px;"></v-icon> {{ $t('global.settings.createUser') | capitalize }}</ms-button>
        </b-collapse>

        <!-- Data -->
        <p
          class="h2 pb-2"
          v-b-toggle.collapse-data
          :style="`transition: 400ms all ease; margin-bottom: 12px; border-bottom: 2px solid ${collapseIconName('collapse-data') === 'caret-down' ? GLOBALS.__THEME_SECONDARY_COLOR__ : 'transparent'};`"
        >
          {{ $t('global.data') | capitalize }} <v-icon :name="collapseIconName('collapse-data')" style="float: right; margin-top: 12px;"></v-icon>
        </p>
        <b-collapse id="collapse-data" ref="collapse-data">
          <div class="settings-block">
            <ul class="settings-list list-unstyled">
              <li class="settings-list-item">{{ $t('global.settings.database.dbSize') }}:<span class="item-value">{{ system.database.size }} Mb</span></li><!-- eslint-disable-line -->
            </ul>
          </div>
          <!-- Data: apps -->
          <p class="h5 pb-2">{{ $t('global.apps') | capitalize }}</p>
          <div class="settings-block">
            <p v-if="!(system.database.apps.length > 0)" class="text-muted">{{ $t('global.settings.noAppMessage') | capitalize }}</p>
            <ul v-else class="settings-list list-unstyled">
              <li v-for="(app, index) in system.database.apps" :key="index" class="settings-list-item">
                <img class="ms_leftbar_app_icon" :src="'data:image/png;base64,' + getApp(index).icon" width="24"/>
                {{ index }}:
                <span class="item-value">{{ app.length }} {{ $t('global.settings.database.tables') }} ({{ getTotalAppSize(app) }} Mb)</span><!-- eslint-disable-line -->
              </li>
            </ul>
          </div>
        </b-collapse>
      </b-col>
    </b-row>
    <!-- Reset user password modal -->
    <ResetUserPasswordModal
      :v-model="resetPasswordForUser !== null"
      :user-id="resetPasswordForUser ? resetPasswordForUser.id : -1"
      @ok="resetPasswordForUser = null"
      @cancel="resetPasswordForUser = null"
    ></ResetUserPasswordModal>
    <!-- Create user modal -->
    <CreateUserModal
      :v-model="showCreateUser"
      @ok="showCreateUser = false"
      @cancel="showCreateUser = false"
    ></CreateUserModal>
    <!-- Delete user modal -->
    <DeleteUserModal
      :v-model="userToDelete !== null"
      :user-id="userToDelete ? userToDelete.id : -1"
      @ok="userToDelete = null"
      @cancel="userToDelete = null"
    ></DeleteUserModal>
  </b-container>
</template>

<script>
/**
 * @vuepress
 * ---
 * title: Settings component
 * headline: "MyStation component: Settings"
 * sidebarDepth: 0 # To disable auto sidebar links
 * prev: false # Disable prev link
 * next: false # Disable prev link
 * ---
 */

import { mapState, mapGetters, mapActions, mapMutations } from 'vuex'
// Configuration
import CONFIG from '@/config/config.js'
// Components
import CreateUserModal from '@/components/elements/modals/CreateUserModal'
import DeleteUserModal from '@/components/elements/modals/DeleteUserModal'
import ResetUserPasswordModal from '@/components/elements/modals/ResetUserPasswordModal'

/**
 * Settings component
 */
export default {
  name: 'Settings',
  components: {
    CreateUserModal,
    DeleteUserModal,
    ResetUserPasswordModal
  },
  data () {
    return {
      network: {
        googleDNSStatus: null, // null by default -> loading. Then boolean
        myStationWebAPIStatus: null // null by default -> loading. Then boolean
      },
      resetPasswordForUser: null,
      userToEdit: null,
      userToDelete: null,
      showCreateUser: false
    }
  },
  computed: {
    ...mapState([
      'lastVersion',
      'system'
    ]),
    ...mapState('Users', [
      'users'
    ]),
    ...mapGetters('Users', [
      'getUser'
    ]),
    ...mapGetters('Apps', [
      'getApp'
    ]),
    googleDNSUrl: function () {
      return CONFIG.API.googleDNS.baseURL
    },
    myStationWebAPIUrl: function () {
      return CONFIG.API.myStationWebAPI.baseURL
    },
    standardUsers: function () {
      return this.users.reduce((array, user) => {
        if (user.role === 'user') {
          array.push(user)
        }
        return array
      }, [])
    }
  },
  methods: {
    ...mapActions([
      'updateSystem',
      'getLastVersion'
    ]),
    ...mapMutations([
      'SET_MUST_ADMIN_PASSWORD_BE_CHANGED'
    ]),
    collapseIconName: function (ref) {
      if (this.$refs[ref]) {
        return this.$refs[ref].show ? 'caret-up' : 'caret-down'
      } else {
        return 'caret-down'
      }
    },
    checkGoogleDNS: async function () {
      this.network.googleDNSStatus = null
      const response = await this.$root.network.check({ apiName: 'googleDNS' })
      this.network.googleDNSStatus = !(response instanceof Error)
    },
    checkMyStationWebAPI: async function () {
      this.network.myStationWebAPIStatus = null
      const response = await this.$root.network.check({ apiName: 'myStationWebAPI' })
      this.network.myStationWebAPIStatus = !(response instanceof Error)
    },
    getTotalAppSize: function (app) {
      let size = 0
      app.forEach((table) => {
        size += Number(table.size)
      })
      return size
    },
    handleUpdate: function () {
      this.$root.wait(this.$h.capitalize(this.$t('global.loadingDescriptions.systemUpdate')), async () => {
        await this.updateSystem({ force: true })
      })
    },
    handleResetUserPassword: function (user) {
      this.resetPasswordForUser = user
    },
    handleEditUser: function (user) {
      this.userToEdit = user
    },
    handleDeleteUser: function (user) {
      this.userToDelete = user
    },
    handleCreateUser: function () {
      this.showCreateUser = true
    }
  },
  mounted () {
    this.checkGoogleDNS()
    this.checkMyStationWebAPI()
  }
}
</script>
