<template>
  <div id="ms_dashboard">
    <div v-if="!(activatedPancakes.length > 0)" class="ms_dashboard_no_app_message">
      <p class="text-white h4">{{ $t('global.welcome') | capitalize }}</p>
      <i18n path="global.dashboard.noAppMessage" tag="p">
        <!-- ref: {0} -->
        <br/>
        <!-- ref: {1} -->
        <a @click="$root.ui.display('AppMarket')" class="appmarket_link">AppMarket</a><!-- eslint-disable-line -->
      </i18n>
    </div>
    <div>
      <SystemPancake></SystemPancake>
    </div>
    <div>
      <div v-for="pancake in activatedPancakes" :key="pancake.name">
        <component v-if="pancakeStatus(pancake)" :is="pancake.name" :id="`${pancake.name}-pancake-component`"></component>
        <div v-else class="bg-secondary p-1" style="border-radius: 4px;">
          <p class="mb-0 test-grey"><icon-basic-load width="24" height="24"/> {{ $t('global.loading') | capitalize }}...</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/**
 * @vuepress
 * ---
 * title: Dashboard component
 * headline: "MyStation component: Dashboard"
 * sidebarDepth: 0 # To disable auto sidebar links
 * prev: false # Disable prev link
 * next: false # Disable prev link
 * ---
 */

// Components
import SystemPancake from './SystemPancake'

/**
 * Dashboard component
 */
export default {
  name: 'Dashboard',
  components: {
    SystemPancake
  },
  data () {
    return {}
  },
  computed: {
    /**
     * Return user's activated pancakes
     * @return {Array} The user pancakes
     */
    activatedPancakes: function () {
      return this.$root.auth.user().pancakes.reduce((accumulator, pancake) => {
        // If app is initialized and pancake is activated
        if (pancake.is_activated && this.$root.auth.user().getApp(pancake.app_name).appConfig.is_initialized) {
          accumulator.push(pancake)
        }
        return accumulator
      }, [])
    }
  },
  methods: {
    /**
     * Get AppManager pancake component status
     * @public
     * @param {Object} pancake - The pancake object
     * @returns {boolean}
     */
    pancakeStatus: function (pancake) {
      const appName = pancake.app_name
      const name = pancake.name
      // If component has been initialized
      if (this.$AppManager.apps[appName].components[name]) {
        // Get status of loading
        if (this.$AppManager.apps[appName].components[name].status) {
          return true
        } else {
          return false
        }
      } else {
        return false
      }
    }
  }
}
</script>
