<template>
  <div class="ms_dashboard_pancake">
    <!-- Top right corner line -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 100"
      role="presentation"
      width="20"
      height="20"
      class="corner_line corner_line_TR"
    >
      <g>
        <path
          d="M0,5 55,5 95,45 95,100"
          :stroke="GLOBALS.__THEME_SECONDARY_COLOR__"
          stroke-width="10"
          fill="transparent"
        />
      </g>
    </svg>
    <!-- Pancake container -->
    <div class="ms_pancake_container">
      <!-- Pancake 'leftbar' -->
      <div :class="`ms_pancake_leftbar ${leftbarLocked}`" @click="$root.ui.display(app.name)">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100 100"
          role="presentation"
          width="24"
          height="24"
          class="ms_pancake_leftbar_tl_button"
        >
          <g>
            <path
              d="M95,0 95,55 55,95 0,95 0,0z"
              :stroke="GLOBALS.__THEME_PRIMARY_COLOR__"
              stroke-width="10"
              :fill="app ? app.color : titleColor"
            />
          </g>
        </svg>
        <div class="ms_pancake_leftbar_content">
          <div class="ms_pancake_leftbar_title">
            <span :style="'color: ' + (titleColor === 'default' ? app.color : titleColor) + ' ;'"><slot name="title"></slot></span>
          </div>
          <div v-if="app" class="ms_pancake_leftbar_open_app">
            <p>
              {{ $t('global.open') | capitalize }} <img :src="'data:image/png;base64,' + app.icon" :width="GLOBALS.__THEME_ICON_WIDTH__"/>
              &nbsp;{{ app.title }}
            </p>
          </div>
        </div>
      </div>
      <!-- Pancake content -->
      <div class="ms_pancake_content">
        <div class="ms_dashboard_pancake_content">
          <slot v-if="ready" name="content"></slot>
          <p v-else>{{ $t('global.loading') | capitalize }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/**
 * @vuepress
 * ---
 * title: Pancake component
 * headline: "MyStation component: Pancake"
 * sidebarDepth: 0 # To disable auto sidebar links
 * prev: false # Disable prev link
 * next: false # Disable prev link
 * ---
 */

import { mapGetters } from 'vuex'

/**
 * Pancake component
 */
export default {
  name: 'Pancake',
  data () {
    return {
      pancakeContainerElement: {},
      resizeObserver: null
    }
  },
  props: {
    /**
     * The app unique name to retrieve the app from store
     */
    appName: {
      type: String,
      default: ''
    },
    /**
     * Define if pancake is ready (for async data loading for example)
     */
    ready: {
      type: Boolean,
      default: false
    },
    /**
     * Make possible to modify the pancake title color.
     *
     * Default to 'default': (app color)
     */
    titleColor: {
      type: String,
      default: 'default'
    }
  },
  computed: {
    ...mapGetters('Apps', [
      'getApp'
    ]),
    /**
     * Return the store mapped app
     */
    app: function () {
      return this.getApp(this.appName)
    },
    /**
     * Return true if no app related (it matters for default System pancake)
     */
    leftbarLocked: function () {
      return this.app ? '' : 'locked'
    }
  },
  methods: {
    /**
     * Update css clip-path when pancake container DOM element size changes.
     *
     * In mounted hook, a ResizeObserver is created to observe the DOM element.
     * @public
     * @returns {void}
     */
    updateMask: function () {
      const width = this.pancakeContainerElement.clientWidth
      const height = this.pancakeContainerElement.clientHeight
      // Define default clip path TL: Top left corner, TR: top right corner, BL: bottom left corner
      this.pancakeContainerElement.style['clip-path'] = `path("M8,0 ${width - 6},0 ${width},6 ${width},${height} 6,${height} 0,${height - 6} 0,8z")`
    }
  },
  mounted () {
    // Loop en child nodes and retrieve by classname 'ms_pancake_container'
    this.pancakeContainerElement = [ ...this.$el.childNodes ].find((el) => {
      return String(el.className).match(/ms_pancake_container/)
    })
    // Apply mask first time
    this.updateMask()
    // Init resize observer
    this.resizeObserver = new ResizeObserver((entries) => {
      this.updateMask()
    })
    this.resizeObserver.observe(this.pancakeContainerElement)
  },
  destroyed () {
    delete this.resizeObserver
  }
}
</script>

<style lang="scss">

.ms_dashboard_pancake {

  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  margin-bottom: $ms-margin-s;

  * {
    transition: all 400ms;
  }

  .corner_line {
    position: absolute;
    // Top right
    &.corner_line_TR {
      top: -6px;
      right: -6px;
      opacity: 1;
    }
  }

  .ms_pancake_container {

    position: relative;
    display: grid;
    grid-template: repeat(1, [row] minmax(0, 100%)) / repeat(1, [col] 100%);
    // overflow: auto;
    background-color: $__THEME_SECONDARY_COLOR__;
    border-radius: 4px;
    width: 100%;

    .ms_pancake_leftbar {
      grid-column: col 1;
      grid-row: row 1;
      width: 16px;
      height: 100%;
      min-height: 100px;
      background-color: $__THEME_SECONDARY_COLOR__;
      cursor: pointer;

      &.locked {
        pointer-events: none;
      }

      .ms_pancake_leftbar_tl_button {
        position: absolute;
        z-index: 80;
        top: -7px;
        left: -7px;
      }

      .ms_pancake_leftbar_content {
        position: relative;
        display: flex;
        justify-content: right;
        background-color: $__THEME_SECONDARY_COLOR__;
        z-index: 79;
        width: 8px;
        height: 100%;
        border-right: 2px solid $__THEME_PRIMARY_COLOR__;
        left: 0;
        top: 0;

        .ms_pancake_leftbar_title {
          background-color: $__THEME_SECONDARY_COLOR__;
          color: $__THEME_TERTIARY_COLOR__;
          margin-top: 30px;
          margin-right: -16px;
          margin-bottom: 30px;
          margin-left: 0;
          padding: $ms-padding-xs 0;
          text-align: center;
          opacity: 1;
          // text-transform: uppercase;
          writing-mode: sideways-lr; // text orientation -90°
          white-space: nowrap;
        }

        .ms_pancake_leftbar_open_app {
          position: absolute;
          display: flex;
          opacity: 0;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          p {
            white-space: nowrap;
            margin: 0 auto;
            opacity: 0;
            transition: opacity 800ms;
          }
        }
      }
    }

    .ms_pancake_content {
      grid-column: col 1 / span 4;
      grid-row: row 1;
      margin-left: 20px; // leftbar above
      padding: $ms-padding-s $ms-padding-m;
    }
  }

  &:hover {

    * {
      transition: all 400ms;
    }

    .ms_pancake_container {

      .ms_pancake_leftbar {
        width: 20px;

        &:hover {
          border-radius: 4px;
          overflow: hidden;
          width: 100%;
          background-color: $__THEME_TERTIARY_COLOR__;

          .ms_pancake_leftbar_content {
            background-color: $__THEME_TERTIARY_COLOR__;
            width: 100%;
            border-width: 0;

            &:hover {
              width: 100%;
            }

            .ms_pancake_leftbar_title {
              opacity: 0;
            }

            .ms_pancake_leftbar_open_app {
              opacity: 1;
              p {
                opacity: 1;
              }
            }
          }

        }

        .ms_pancake_leftbar_tl_button {
          top: -2px;
          left: -2px;
        }

        .ms_pancake_leftbar_content {
          z-index: 79;
          width: 12px;

          .ms_pancake_leftbar_title {
            // margin-top: 34px;
            // margin-bottom: 26px;
          }
        }
      }
    }

    .ms_pancake_content {
      // margin-left: 24px;
    }

  }

}

</style>
