<template>
  <pancake
    ready
    :titleColor="GLOBALS.__THEME_TERTIARY_COLOR__"
  >
    <!-- Pancake title -->
    <template slot="title">-</template><!-- eslint-disable-line -->
    <!-- Pancake content -->
    <template slot="content">
      <b-container fluid>
        <b-row>
          <!-- eslint-disable -->
          <p class="mb-0">
            <span class="text-grey">{{ $t('global.systemStatus') | capitalize }}:</span> <span class="text-green">OK ✔</span><br/>
            <span class="text-grey">{{ $t('global.user') | capitalize  }}:</span>
              <span><v-icon name="user" scale=0.6></v-icon> {{ $root.auth.user().username }}</span>
              <span :style="$root.auth.user().role === 'admin' ? 'color: orange' : ''"> [{{ $t(`global.userRoles.${$root.auth.user().role}`) | capitalize }}]</span>
            <br/>
            <span class="text-grey">{{ $t('global.notifications') | capitalize  }}:</span> 0<br/>
            <span class="text-grey">{{ $t('global.lastLogin') | capitalize  }}:</span> {{ $root.auth.user().lastLogin }}
          </p>
          <!-- eslint-enable -->
        </b-row>
      </b-container>
    </template>
  </pancake>
</template>

<script>
export default {
  name: 'SystemPancake'
}
</script>

<style lang="scss" scoped>

.ms_pancake_content {

  // Do something

}

</style>
