<template>
  <div>
    <slider-picker v-model="selectedColor" @input="updateValue"></slider-picker>
  </div>
</template>

<script>
/**
 * @vuepress
 * ---
 * title: MsColorPicker component
 * headline: "MyStation component: MsColorPicker"
 * sidebarDepth: 0 # To disable auto sidebar links
 * prev: false # Disable prev link
 * next: false # Disable prev link
 * ---
 */

import { Slider } from 'vue-color'

/**
 * MsColorPicker component
 * @vuepress_global_component
 */
export default {
  name: 'MsColorPicker',
  data () {
    return {
      selectedColor: this.color
    }
  },
  components: {
    // 'material-picker': material,
    // 'compact-picker': compact,
    // 'swatches-picker': swatches,
    'slider-picker': Slider
    // 'sketch-picker': sketch,
    // 'chrome-picker': chrome,
    // 'photoshop-picker': photoshop
  },
  props: {
    /**
     * vue-color v-model prop
     */
    color: {
      type: String,
      default: __THEME_MS_BLUE_COLOR__
    }
  },
  methods: {
    updateValue: function (val) {
      this.$emit('update', val)
    }
  },
  watch: {
    color: function (to, from) {
      this.selectedColor = this.color
    }
  }
}
</script>
