<template>
  <b-container id="app-market-container" fluid>
    <b-row>
      <b-col>
        <p class="refresh-button" @click="reloadMarketApps">
          <v-icon name="sync-alt"></v-icon>
          <span>{{ $t('global.refresh') | capitalize }}</span>
        </p>
      </b-col>
    </b-row>
    <b-row v-if="!marketAppsLoading" class="app-market-app-list">
      <b-col cols="4" v-for="app in appsList" :key="app.name">
        <div class="app-market-app-element">
          <div :class="'app-header' + ($root.hasInstalledApp(app.name) ? ' installed' : '')">
            <p>
              <img :src="'data:image/png;base64,' + app.icon" :alt="app.name" :width="GLOBALS.__THEME_ICON_WIDTH__" height="auto"/>
              <span class="ml-2">{{ app.title }}</span> - <span class="text-muted">{{ app.name }}</span>
            </p>
          </div>
          <div>
            <p class="app-label">{{ app.label[$i18n.locale] || app.label.en }}</p>
            <p class="app-author"><v-icon name="user" scale="0.6"></v-icon> {{ app.author.firstname + ' ' + app.author.lastname }}</p>
            <p class="app-url"><a :href="app.url">{{ app.url }} <v-icon name="external-link-alt" scale=0.6></v-icon></a></p>
            <p class="app-description">{{ app.description[$i18n.locale] || app.description.en }}</p>
          </div>
          <div class="app-buttons">
            <!-- Install/Uninstall -->
            <span class="installed-indicator" v-if="$root.hasInstalledApp(app.name)">{{ $t('global.appMarket.installedIndicator') | capitalize }} ✔</span><!-- eslint-disable-line -->
            <ms-button v-if="$root.hasInstalledApp(app.name) && isUpToDate(app)" variant="action" @click.native="update(app)" inline>{{ $t('global.update') | capitalize }}</ms-button>
            <ms-button v-if="$root.hasInstalledApp(app.name)" variant="warning" @click.native="uninstall(app)" inline>{{ $t('global.uninstall') | capitalize }}</ms-button>
            <ms-button v-if="!$root.hasInstalledApp(app.name)" variant="action" @click.native="install(app)" inline>{{ $t('global.install') | capitalize }}</ms-button>
          </div>
        </div>
      </b-col>
    </b-row>
    <AppInstallModal
      :v-model="showInstallModal"
      :app="appToInstall"
      :ok="confirmInstall"
      :cancel="cancelInstall"
      :hide-buttons="$AppManager.isAppInstalling"
    />
    <AppUninstallModal
      :v-model="showUninstallModal"
      :app="appToUninstall"
      :ok="confirmUninstall"
      :cancel="cancelUninstall"
      :hide-buttons="$AppManager.isAppUninstalling"
    />
    <AppUpdateModal
      :v-model="showUpdateModal"
      :app="appToUpdate"
      :ok="confirmUpdate"
      :cancel="cancelUpdate"
      :hide-buttons="$AppManager.isAppInstalling"
    />
  </b-container>
</template>

<script>
/**
 * @vuepress
 * ---
 * title: AppMarket component
 * headline: "MyStation component: AppMarket"
 * sidebarDepth: 0 # To disable auto sidebar links
 * prev: false # Disable prev link
 * next: false # Disable prev link
 * ---
 */

// axios
import axios from 'axios'
// Config
import CONFIG from '@/config/config.js'
// Models
import MarketApp from '#mystation/models/MarketApp'
// Components
import AppInstallModal from '@/components/elements/modals/AppInstallModal.vue'
import AppUninstallModal from '@/components/elements/modals/AppUninstallModal.vue'
import AppUpdateModal from '@/components/elements/modals/AppUpdateModal.vue'
// Store
import { mapState, mapGetters, mapActions } from 'vuex'

/**
 * AppMarket component.
 *
 * Child components:
 * - AppInstallModal ([components/elements/modals/AppInstallModal](../../elements/modals/AppInstallModal))
 * - AppUninstallModal ([components/elements/modals/AppUninstallModal](../../elements/modals/AppUninstallModal))
 * - AppUpdateModal ([components/elements/modals/AppUpdateModal](../../elements/modals/AppUpdateModal))
 */
export default {
  name: 'AppMarket',
  components: {
    AppInstallModal,
    AppUninstallModal,
    AppUpdateModal
  },
  data () {
    return {
      showInstallModal: false,
      showUninstallModal: false,
      showUpdateModal: false,
      appToInstall: {},
      appToUninstall: {},
      appToUpdate: null,
      appInDevelopment: null
    }
  },
  computed: {
    ...mapState('Apps', [
      'marketApps',
      'marketAppsLoading'
    ]),
    ...mapGetters('Apps', [
      'getApp'
    ]),
    /**
     * Array of apps to display (if app development mode enabled, push the app in array)
     * @public
     * @returns {App[]}
     */
    appsList: function () {
      let appsToReturn = this.marketApps
      // If this.appInDevelopment is not null, add as first item to the array of apps displayed
      if (this.appInDevelopment && !appsToReturn.find(element => element.name === this.appInDevelopment.name)) {
        appsToReturn.unshift(this.appInDevelopment)
      }
      return appsToReturn
    }
  },
  methods: {
    ...mapActions('Apps', [
      'loadMarketApps'
    ]),
    /**
     * Display modal to confirm app installation
     * @public
     * @param {MarketApp} app - The app to install
     * @returns {void}
     */
    install: function (app) {
      this.appToInstall = app
      this.showInstallModal = true
    },
    /**
     * Install an app.
     *
     * Call AppManager.installApp method
     * @public
     * @returns {void}
     */
    confirmInstall: async function () {
      let devMode = false
      if (this.appInDevelopment) {
        devMode = this.appInDevelopment.name === this.appToInstall.name
      }
      const devAppConfigFileUrl = devMode
        ? `${CONFIG.DEVELOPMENT.appDevelopment[this.appInDevelopment.name].URL}/app.config.json`
        : ''
      const devAppIconUrl = devMode
        ? `${CONFIG.DEVELOPMENT.appDevelopment[this.appInDevelopment.name].URL}/app.icon.png`
        : ''
      await this.$AppManager.installApp(this.appToInstall.name, this.appToInstall.lastVersion().version, { update: false, development: devMode, devAppConfigUrl: devAppConfigFileUrl, devAppIconUrl: devAppIconUrl })
      this.showInstallModal = false
    },
    /**
     * Hide app installation modal
     * @public
     * @returns {void}
     */
    cancelInstall: function () {
      this.appToInstall = {}
      this.showInstallModal = false
    },
    /**
     * Display modal to confirm app uninstall
     * @public
     * @param {MarketApp} app - The app to uninstall
     * @returns {void}
     */
    uninstall: function (app) {
      this.appToUninstall = app
      this.showUninstallModal = true
    },
    /**
     * Uninstall an app
     *
     * Call AppManager.uninstallApp method
     * @public
     * @returns {void}
     */
    confirmUninstall: async function () {
      await this.$AppManager.uninstallApp(this.appToUninstall.name)
      this.showUninstallModal = false
    },
    /**
     * Hide app uninstall modal
     * @public
     * @returns {void}
     */
    cancelUninstall: function () {
      this.appToUninstall = {}
      this.showUninstallModal = false
    },
    /**
     * Return false if new version of app exists
     * @public
     * @returns {boolean}
     */
    isUpToDate: function (app) {
      return !this.getApp(app.name).version.localeCompare(app.lastVersion())
    },
    /**
     * Update app
     * @public
     * @returns {void}
     */
    update: function (app) {
      this.appToUpdate = app
      this.showUpdateModal = true
    },
    /**
     * Update an app.
     *
     * Call AppManager.installApp method
     * @public
     * @returns {void}
     */
    confirmUpdate: async function () {
      await this.$AppManager.installApp(this.appToUpdate.name, this.appToUpdate.lastVersion().version, { update: true })
      this.showUpdateModal = false
    },
    /**
     * Hide app update modal
     * @public
     * @returns {void}
     */
    cancelUpdate: function () {
      this.appToUpdate = {}
      this.showUpdateModal = false
    },
    /**
     * Load market apps
     * @public
     * @returns {void}
     */
    reloadMarketApps: function () {
      this.$root.wait('Loading market apps', async () => {
        await this.loadMarketApps()
      }, { loading: ['mainLoading', 'logoLoading'] })
    }
  },
  async mounted () {
    // Load all available market apps from MyStationWebAPI
    if (!(this.marketApps.length > 0)) { // If market apps not loaded
      this.reloadMarketApps()
    }
    // If app development mode enabled
    // -> add app in development to the array of apps to display
    if (process.env.NODE_ENV === 'development' && CONFIG.DEVELOPMENT.appDevelopment) {
      // Get app name
      const appName = Object.keys(CONFIG.DEVELOPMENT.appDevelopment)[0]
      // Get app.config.json
      const appConfigFileUrl = `${CONFIG.DEVELOPMENT.appDevelopment[appName].URL}/app.config.json`
      this.$root.log('dev', `Get app.config.json of app in development: "${appName}" at ${appConfigFileUrl}`, 'console')
      // Request for app.config.json
      const appConfigResponse = await axios.get(appConfigFileUrl)
      // Get app icon
      const appIconFileUrl = `${CONFIG.DEVELOPMENT.appDevelopment[appName].URL}/app.icon.png`
      this.$root.log('dev', `Get app.icon.png of app in development: "${appName}" at ${appIconFileUrl}`, 'console')
      // Request for app icon
      const iconResponse = await axios({
        method: 'get',
        url: appIconFileUrl,
        responseType: 'arraybuffer'
      })
      // Build app object
      this.appInDevelopment = new MarketApp({
        name: appName,
        title: appConfigResponse.data.title,
        icon: Buffer.from(iconResponse.data, 'binary').toString('base64'), // convert to base64
        color: appConfigResponse.data.color,
        label: {
          en: 'Example label',
          fr: 'Label d\'exemple'
        },
        author: {
          firstname: 'John',
          lastname: 'Doe'
        },
        url: 'http://example.org/apps/myapp',
        description: {
          en: 'This is an example description text',
          fr: 'Ceci est un texte d\'exemple de description'
        },
        versions: [
          {
            app_name: appName,
            created_at: null,
            mystation_version: appConfigResponse.data.mystation_version,
            repository: 'https://example.org/repository.git',
            updated_at: null,
            version: appConfigResponse.data.version
          }
        ]
      })
    }
  }
}
</script>
