{{#if returns}}
{{!-- {{#if returns.[0].description~}} --}}
<span class="color-beige"><strong>Returns:</strong></span> {{#each returns~}}
  {{#if type~}}
  {{#if type.names}}{{>linked-type-list types=type.names delimiter=" \| " ~}}{{/if}}
  {{~#if description}} - {{{inlineLinks description}}}{{/if~}}
  {{else~}}
  {{{inlineLinks description}~}}
  {{/if~}}
{{~/each}}
  
{{!-- {{/if}} --}}
{{/if}}