{{#if scope}}
<span class="color-beige"><strong>Kind:</strong></span> {{#if (equal kind "event") ~}}
event emitted{{#if memberof}} by {{>link to=memberof}}{{/if}}  
{{else~}}
{{scope}} {{#if virtual}}abstract {{/if}}{{kindInThisContext}}{{#if memberof}} of {{>link to=memberof}}{{/if}}  
{{/if~}}
{{else~}}
{{#if isExported}}<span class="color-beige"><strong>Kind:</strong></span> Exported {{kind}}  
{{/if~}}
{{/if~}}