{{#if syntax}}

::: syntax {{ syntax.title }}

{{{ syntax.description }}}{{!-- triple slash for no-html-escaping --}}
{{#each syntax.context}}
- <span class="color-green">{ _{{ @key }} context_ }</span>
  ```javascript
{{{ indentText this 2 }}}{{!-- indent 2 white spaces and triple slash for no-html-escaping --}}
  ```
{{/each}}
:::

{{/if~}}