<template>
  <div id="ms_rightbar">
    <div id="ms_rightbar_buttons_container">
      <ul>
        <li>
          <ms-button
            @click.native="$root.ui.display('AppMarket')"
            text-align="left"
            fluid
          >
            <img class="icon" :src="iconApp"/>{{ $t('global.appMarket.title') }}
          </ms-button>
        </li>
        <li>
          <ms-button
            @click.native="$root.ui.display('Settings')"
            text-align="left"
            fluid
          >
            <img class="icon" :src="iconSetting"/>{{ $t('global.settings.title') | capitalize }}
          </ms-button>
        </li>
        <li>
          <ms-button
            @click.native="$root.auth.logout()"
            text-align="left"
            fluid
          >
            <img class="icon" :src="iconLogout"/>{{ $t('global.logout') | capitalize }}
          </ms-button>
        </li>
      </ul>
    </div>
    <hr class="bg-secondary" style="border:none; height: 2px;"/>
    <div class="ms_rightbar_system_container">
      <!-- <p class="text-grey mb-1">{{ $t('global.system') | capitalize }}:</p> -->
      <div>
        <p class="mb-0 text-grey">{{ $t('global.systemStatus') | capitalize }}: <span class="text-green">OK ✔</span></p><!-- eslint-disable-line -->
        <p class="mb-0 text-grey">
          <a href="http://manual.mystation.fr/" target=_blank>
            <v-icon name="question-circle" scale=0.8 style="margin-top: -2px;"></v-icon> {{ $t('global.help') | capitalize }}
            <v-icon name="external-link-alt" scale=0.6 style="margin-top: -2px;"></v-icon>
          </a>
        </p>
      </div>
    </div>
    <div class="ms_rightbar_network_container">
      <p class="text-grey mb-0">{{ $t('global.network') | capitalize }}</p>
      <div>
        <p class="mb-0">
          <span class="pl-1 text-grey" :style="`border-left: 2px solid ${GLOBALS.__THEME_MS_BLUE_COLOR__};`">{{ $t('global.settings.network.internet') | capitalize }}: </span>
          <!-- eslint-disable -->
          <span v-if="network.googleDNSStatus === null" class="text-grey">{{ $t('global.loading') | capitalize }}...</span>
          <span v-if="network.googleDNSStatus" class="text-green"><strong>{{ $t('global.settings.network.connected') | capitalize }}</strong> ✔</span>
          <span v-if="network.googleDNSStatus === false" class="text-red"><strong>{{ $t('global.settings.network.notConnected') | capitalize }}</strong> ❌</span>
          <!-- eslint-enable -->
        </p>
        <p class="mb-0">
          <!-- eslint-disable -->
          <span class="pl-1 text-grey" :style="`border-left: 2px solid ${GLOBALS.__THEME_MS_BLUE_COLOR__};`">{{ $t('global.myStationWebAPI') }}: </span>
          <span v-if="network.myStationWebAPIStatus === null" class="text-grey">{{ $t('global.loading') | capitalize }}...</span>
          <span v-if="network.myStationWebAPIStatus" class="text-green"><strong>{{ $t('global.settings.network.connected') | capitalize }}</strong> ✔</span><!-- eslint-disable-line -->
          <span v-if="network.myStationWebAPIStatus === false" class="text-red"><strong>{{ $t('global.settings.network.notConnected') | capitalize }}</strong> ❌</span><!-- eslint-disable-line -->
          <!-- eslint-enable -->
        </p>
      </div>
    </div>
  </div>
</template>

<script>
/**
 * @vuepress
 * ---
 * title: Rightbar component
 * headline: "MyStation component: Rightbar"
 * sidebarDepth: 0 # To disable auto sidebar links
 * prev: false # Disable prev link
 * next: false # Disable prev link
 * ---
 */

/**
 * Rightbar component
 */
export default {
  name: 'Rightbar',
  data () {
    return {
      iconApp: require('../../../../public/img/myapps.png'),
      iconSetting: require('../../../../public/img/mysettings.png'),
      iconLogout: require('../../../../public/img/icon_logout.png'),
      network: {
        googleDNSStatus: null, // null by default -> loading. Then boolean
        myStationWebAPIStatus: null // null by default -> loading. Then boolean
      }
    }
  },
  methods: {
    checkGoogleDNS: async function () {
      this.network.googleDNSStatus = null
      const response = await this.$root.network.check({ apiName: 'googleDNS' })
      this.network.googleDNSStatus = !(response instanceof Error)
    },
    checkMyStationWebAPI: async function () {
      this.network.myStationWebAPIStatus = null
      const response = await this.$root.network.check({ apiName: 'myStationWebAPI' })
      this.network.myStationWebAPIStatus = !(response instanceof Error)
    }
  },
  mounted () {
    this.checkGoogleDNS()
    this.checkMyStationWebAPI()
  }
}
</script>
