<template>
  <div>
    <!-- Main Loading -->
    <MainLoading></MainLoading>
    <!-- Global Error Modal -->
    <GlobalErrorModal></GlobalErrorModal>
    <!-- Change Admin Password Modal -->
    <ChangeAdminPasswordModal></ChangeAdminPasswordModal>
    <!-- App if user is authenticated -->
    <transition
      appear
      mode="out-in"
      enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut delay-2s"
    >
      <div v-if="$root.auth.user().authenticated" id="app">
        <Header></Header>
        <div id="ms_main_container">
          <Leftbar></Leftbar>
          <MainFrame></MainFrame>
          <Rightbar></Rightbar>
        </div>
      </div>
      <!-- Else Login -->
      <Login v-if="!$root.auth.user().authenticated"></Login>
    </transition>
  </div>
</template>

<script>
/**
 * @vuepress
 * ---
 * title: App component
 * headline: "MyStation component: App"
 * sidebarDepth: 0 # To disable auto sidebar links
 * prev: false # Disable prev link
 * next: false # Disable prev link
 * ---
 */

// Components
import Login from './login/Login'
import Header from './partials/header/Header'
import Leftbar from './partials/leftbar/Leftbar'
import Rightbar from './partials/rightbar/Rightbar'
import MainFrame from './mainframe/MainFrame'
import MainLoading from './elements/loadings/MainLoading'
import GlobalErrorModal from './elements/modals/GlobalErrorModal'
import ChangeAdminPasswordModal from './elements/modals/ChangeAdminPasswordModal'

/**
 * App main component
 *
 * Child components:
 * - Login ([components/login/Login](login/Login))
 * - Header ([components/partials/header/Header](partials/header/Header))
 * - Leftbar ([components/partials/leftbar/Leftbar](partials/leftbar/Leftbar))
 * - Rightbar ([components/partials/rightbar/Rightbar](partials/rightbar/Rightbar))
 * - MainFrame ([components/mainframe/MainFrame](mainframe/MainFrame))
 * - MainLoading ([components/elements/loadings/MainLoading](elements/loadings/MainLoading))
 * - GlobalErrorModal ([components/elements/modals/GlobalErrorModal](elements/modals/GlobalErrorModal))
 * - ChangeAdminPasswordModal ([components/elements/modals/ChangeAdminPasswordModal](elements/modals/ChangeAdminPasswordModal))
 */
export default {
  name: 'App',
  components: {
    Login,
    Header,
    Leftbar,
    MainFrame,
    Rightbar,
    MainLoading,
    GlobalErrorModal,
    ChangeAdminPasswordModal
  }
}
</script>

<style lang="scss">
  @import "~#styles/main";
</style>
