<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
  >
    <div>
      <div></div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'BaseLoadingBar'
}
</script>
