<!-- eslint-disable vue-i18n/no-raw-text -->
<template>
  <svg xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 400 400"
    :width="width"
    :height="computedHeight"
    role="presentation"
  >
    <g>
      <g id="inside_group">
        <path
          id="logo_Inside"
          ref="logo_Inside"
          d="M200,60 320,130 320,270 200,340 80,270 80,130 200,60 M200,200 80,130 M200,200 320,130 M200,200 200,340 M200,200 320,270 M200,200 80,270 M200,200 200,60"
          stroke="rgba(255, 255, 255, 0.2)"
          stroke-width="3"
          stroke-linejoin="round"
          stroke-linecap="round"
          fill="rgba(255, 255, 255, 0.2)"
        />
        <path
          id="logo_Inside_heart"
          ref="logo_Inside_heart"
          d="M200,60 320,130 320,270 200,340 80,270 80,130z"
          fill="rgba(255, 255, 255, 1)"
        />
      </g>
      <path
        id="logo_Light"
        ref="logo_Light"
        d="M200,60 320,130 320,270 200,340 80,270 80,130z"
        stroke="#fff"
        stroke-width="12"
        stroke-linejoin="round"
        stroke-linecap="round"
        fill="transparent"
      />
      <path
        id="logo_Dashes"
        ref="logo_Dashes"
        d="M200,60 320,130 320,270 200,340 80,270 80,130z"
        stroke="#fff"
        stroke-width="12"
        fill="transparent"
      />
    </g>
  </svg>
</template>

<script>

export default {
  name: 'Loading1',
  props: [
    'width',
    'height'
  ],
  computed: {
    computedHeight: function () {
      return this.height ? this.height : this.width
    }
  }
}
</script>

<style lang="scss" scoped>
#logo_S {
  opacity: 0;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 2s linear forwards;
}

#logo_M {
  opacity: 0;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 2s linear 2s forwards;
}

#logo_Y {
  opacity: 0;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 2s linear 4s forwards;
}

#logo_Light {
  -webkit-filter: drop-shadow(0 0 7px #fff);
  filter: drop-shadow(0 0 7px #fff);
}

#logo_Inside {
  transform: scale(0.7);
  transform-origin: center;
}

#logo_Inside_heart {
  -webkit-transform: rotate(0deg) scale(0.25);
  -moz-transform: rotate(0deg) scale(0.25);
  transform: rotate(0deg) scale(0.25);
  -webkit-filter: drop-shadow(0 0 40px rgba(255, 255, 255, 0.2));
  filter: drop-shadow(0 0 40px rgba(255, 255, 255, 0.2));
  transform-origin: center;
  animation: 3000ms linear infinite forwards roll;
}

#logo_Dashes {
  transform: scale(1.4);
  transform-origin: center;
  stroke-dasharray: 240;
  stroke-dashoffset: 0;
  animation: 1500ms linear infinite dash;
}

@keyframes draw {
  from {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@-moz-keyframes draw {

  from {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@-webkit-keyframes draw {

  from {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes dash {

  to {
    stroke-dashoffset: 480;
  }
}

@-moz-keyframes dash {

  to {
    stroke-dashoffset: 480;
  }
}

@-webkit-keyframes dash {

  to {
    stroke-dashoffset: 480;
  }
}

@keyframes roll {
  0% {
    transform: rotate(0deg) scale(0.25);
  }

  50% {
    transform: rotate(360deg) scale(0.4);
    -webkit-filter: drop-shadow(0 0 20px #fff);
    filter: drop-shadow(0 0 20px #fff);
  }

  100% {
    transform: rotate(360deg) scale(0.25);
    -webkit-filter: drop-shadow(0 0 40px rgba(255, 255, 255, 0.2));
    filter: drop-shadow(0 0 40px rgba(255, 255, 255, 0.2));
  }
}

@-moz-keyframes roll {

  50% {
    transform: scale(0.5);
    -webkit-filter: drop-shadow(0 0 20px #fff);
    filter: drop-shadow(0 0 20px #fff);
  }

  100% {
    transform: scale(0.25) rotate(360deg);
    -webkit-filter: drop-shadow(0 0 40px rgba(255, 255, 255, 0.2));
    filter: drop-shadow(0 0 40px rgba(255, 255, 255, 0.2));
  }
}

@-webkit-keyframes roll {

  50% {
    transform: scale(0.5);
    -webkit-filter: drop-shadow(0 0 20px #fff);
    filter: drop-shadow(0 0 20px #fff);
  }

  100% {
    transform: scale(0.25) rotate(360deg);
    -webkit-filter: drop-shadow(0 0 40px rgba(255, 255, 255, 0.2));
    filter: drop-shadow(0 0 40px rgba(255, 255, 255, 0.2));
  }
}
</style>
