<template>
  <transition
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
  >
    <div v-if="$loadings.mainLoading.status" id="ms_mainLoading">
      <!-- <icon-basic-load width="56" height="56"/> -->
      <Loading1 width="56"></Loading1>
      <br/>
      <br/>
      <p>{{ $loadings.mainLoading.description }}...</p>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'MainLoading'
}
</script>
