{{setLevel this 0~}}
{{#if (descendants min=(option 'memberIndex.minDescendants'))~}}
{{#if isExported~}}
{{#if (equal (depth) 0)}}
{{#if (optionEquals "member-index-format" "list")}}

<p class="member-schema">Schema:</p>

{{>member-index-list}}

{{else~}}

<span class="color-beige"><strong>Schema:</strong></span>

{{>member-index-grouped}}

{{/if~}}
{{/if~}}
{{else~}}
{{#if (optionEquals "member-index-format" "list")}}

<span class="color-beige"><strong>Schema:</strong></span>

{{>member-index-list}}

{{else}}

<span class="color-beige"><strong>Schema:</strong></span>

{{>member-index-grouped}}

{{/if~}}
{{/if~}}
{{/if}}