<template>
  <div class="ms_app_container" :id="app + '-app-component'">
    <div class="ms_app_container_header">
      <ul v-if="tabs.length > 0" class="ms_app_container_header_tabs">
        <li
          v-for="(tab, index) in tabs"
          :key="tab.title"
          :class="currentTab === index ? 'ms_app_container_current_tab' : 'ms_app_container_header_tab'"
          @click="tabClickFunction(tab, index)"
        >{{ tab.title }}</li>
      </ul>
      <div class="ms_app_container_header_help">
        <v-icon name="question"></v-icon>
      </div>
    </div>
    <div v-if="tabs.length > 0" class="ms_app_container_content">
      <transition
        mode="out-in"
        enter-active-class="animated fadeIn fast"
        leave-active-class="animated fadeOut fast"
      >
        <component :is="componentName(currentTab)"></component>
      </transition>
    </div>
    <div v-else class="ms_app_container_content">
      <!-- @slot Slot 'content' for app content -->
      <slot name="content"></slot>
    </div>
  </div>
</template>

<script>
/**
 * @vuepress
 * ---
 * title: AppContainer component
 * headline: "MyStation component: AppContainer"
 * sidebarDepth: 0 # To disable auto sidebar links
 * prev: false # Disable prev link
 * next: false # Disable prev link
 * ---
 */

/**
 * AppContainer component.
 *
 * Generic component for app components.
 *
 * Child components:
 * - dynamic named component for each 'tab' in this.tabs (see component props).
 * @vuepress_global_component
 */
export default {
  name: 'AppContainer',
  data () {
    return {
      currentTab: this.defaultTab
    }
  },
  props: {
    /**
     * The app unique name
     */
    app: {
      type: String,
      default: ''
    },
    /**
     * Tabs
     *
     * Object array like:
     * ```javascript
     * [
     *   {
     *     title: String,
     *     component: Object (Vue component),
     *     click: Function
     *   },
     *   ...
     * ]
     * ```
     */
    tabs: {
      type: Array,
      default: function () {
        return []
      }
    },
    /**
     * Index of default tab to display when component is mounted (default 0: first tab).
     */
    defaultTab: {
      type: [String, Number],
      default: function () {
        return 0
      }
    }
  },
  methods: {
    /**
     * Handle click on a tab.
     *
     * Call tab.click if it's defined (function).
     * @public
     * @param {Object} tab - The tab object
     * @param {number} index - The tab index
     * @returns {void}
     */
    tabClickFunction: function (tab, index) {
      if (tab.click) {
        tab.click()
      }
      this.currentTab = index
    },
    /**
     * Return tab component name based on index.
     *
     * Each tab is registered in beforeCreate hook with a formatted name like:
     * `<appName>-tab-component-<index>` where `<appName>` is the app unique name and
     * `<index>` the tab index in this.tabs
     * @public
     * @param {number} index - The tab index
     * @returns {string}
     */
    componentName: function (index) {
      return this.app + '-tab-component-' + index
    }
  },
  beforeCreate () {
    // Register components passed for each tab
    this.$options.propsData.tabs.forEach((tab, index) => {
      if (tab.component) {
        this.$options.components[this.$options.propsData.app + '-tab-component-' + index] = tab.component
      }
    })
  }
}
</script>
