<template>
  <div></div>
</template>

<script>
import {
  mapState,
  mapGetters,
  mapActions,
  mapMutations
} from 'vuex'
/**
 * BaseAppComponent
 */
export default {
  appName: null,
  beforeCreate: function () {
    // Check if appName option is defined
    if (!this.$options.appName) {
      throw Error('BaseAppComponent must have \'appName\' option.')
    }
    // We need to know what state properties need to be mapped
    // Properties list to map
    this.$options.state = this.$options.state || {}
    // Loop on modules
    for (let moduleName in this.$options.state) {
      // Assign computed properties
      this.$options.computed = {
        ...(this.$options.computed),
        ...mapState(this.$options.appName + '-' + moduleName, this.$options.state[moduleName])
      }
    }
    // We need to know what getters need to be mapped
    // Action list to map
    this.$options.getters = this.$options.getters || {}
    // Loop on modules
    for (let moduleName in this.$options.getters) {
      // Assign computed properties
      this.$options.computed = {
        ...(this.$options.computed),
        ...mapGetters(this.$options.appName + '-' + moduleName, this.$options.getters[moduleName])
      }
    }
    // We need to know what actions need to be mapped
    // Action list to map
    this.$options.actions = this.$options.actions || {}
    // Loop on modules
    for (let moduleName in this.$options.actions) {
      // Assign methods properties
      this.$options.methods = {
        ...(this.$options.methods),
        ...mapActions(this.$options.appName + '-' + moduleName, this.$options.actions[moduleName])
      }
    }
    // We need to know what mutations need to be mapped
    // Mutation list to map
    this.$options.mutations = this.$options.mutations || {}
    // Loop on modules
    for (let moduleName in this.$options.mutations) {
      // Assign methods properties
      this.$options.methods = {
        ...(this.$options.methods),
        ...mapMutations(this.$options.appName + '-' + moduleName, this.$options.mutations[moduleName])
      }
    }
  }
}
</script>
