<template>
  <div id="ms_main_frame">
    <transition
      mode="out-in"
      enter-active-class="animated fadeIn fast"
      leave-active-class="animated fadeOut fast"
    >
      <!-- Dashboard, Settings, AppMarket or specific App -->
      <component v-bind:is="system.mainframeContent"></component>
    </transition>
  </div>
</template>

<script>
/**
 * @vuepress
 * ---
 * title: MainFrame component
 * headline: "MyStation component: MainFrame"
 * sidebarDepth: 0 # To disable auto sidebar links
 * prev: false # Disable prev link
 * next: false # Disable prev link
 * ---
 */

// Components
import Dashboard from './dashboard/Dashboard'
import Settings from './settings/Settings'
import AppMarket from './appmarket/AppMarket'
// Store
import { mapState } from 'vuex'

/**
 * MainFrame component.
 *
 * Container for: dashboard, settings, app market or an app component.
 *
 * Child components:
 * - Dashboard ([components/mainframe/dashboard/Dashboard](mainframe/dashboard/Dashboard))
 * - Settings ([components/mainframe/settings/Header](mainframe/settings/Settings))
 * - AppMarket ([components/mainframe/appmarket/Leftbar](mainframe/appmarket/AppMarket))
 */
export default {
  name: 'MainFrame',
  components: {
    Dashboard,
    Settings,
    AppMarket
  },
  computed: {
    ...mapState([
      'system'
    ])
  }
}
</script>
