<template>
  <div id="ms_leftbar">
    <ul id="ms_leftbar_app_list">
      <li v-for="app in sortedUserApps" :key="app.id" class="ms_leftbar_app">
        <transition
          mode="out-in"
          enter-active-class="animated fadeIn fast"
          leave-active-class="animated fadeOut fast"
        >
          <LeftbarAppIcon
            v-if="appStatus(app.name)"
            :appIcon="app.icon"
            :current="isCurrentApp(app)"
            :require-interact="!$root.isAppInitialized(app.name)"
            :click="function () { $root.ui.display(app.name) }"
          ></LeftbarAppIcon>
          <Loading1 v-else :width="GLOBALS.__THEME_ICON_WIDTH__"></Loading1>
        </transition>
      </li>
    </ul>
  </div>
</template>

<script>
/**
 * @vuepress
 * ---
 * title: Leftbar component
 * headline: "MyStation component: Leftbar"
 * sidebarDepth: 0 # To disable auto sidebar links
 * prev: false # Disable prev link
 * next: false # Disable prev link
 * ---
 */

// lodash sortBy
import sortBy from 'lodash.sortby'
// Icon
import LeftbarAppIcon from '@/components/elements/icons/LeftbarAppIcon'
// Store
import { mapState } from 'vuex'

/**
 * Leftbar component
 *
 * Child components:
 * - LeftbarAppIcon ([components/elements/icons/LeftbarAppIcon](../../elements/icons/LeftbarAppIcon))
 */
export default {
  name: 'Leftbar',
  components: {
    LeftbarAppIcon
  },
  computed: {
    ...mapState([
      'system'
    ]),
    sortedUserApps: function () {
      return sortBy(this.$root.auth.user().apps, [
        function (app) {
          return app.appConfig.position
        }
      ])
    }
  },
  methods: {
    /**
     * Get AppManager app component status
     * @public
     * @param {string} appName - The app unique name
     * @returns {boolean}
     */
    appStatus: function (appName) {
      // If AppManager is synchronized with app and if component is registered
      if (this.$AppManager.apps[appName] &&
          this.$AppManager.apps[appName].components[appName + '-app-component'] &&
          this.$AppManager.apps[appName].components[appName + '-app-component'].status) {
        return true
      } else {
        return false
      }
    },
    /**
     * Detect current app
     * @public
     * @param {App} app - The app
     * @returns {boolean}
     */
    isCurrentApp: function (app) {
      return this.system.currentApp && this.system.currentApp.name === app.name
    }
  }
}
</script>
