<template>
  <div id="ms_login">
    <Logo id="ms_login_logo" :width=120 :height=120 :status="$root.auth.isLoading() ? 'loading' : ''"></Logo>
    <h1 id="ms_login_logo_title">{{ $t("global.appTitle") }}</h1>
    <b-form id="ms_login_form">
      <b-form-input
        v-model="username"
        type="text"
        required
        :placeholder="$h.capitalize($t('global.login.username'))"
        class="ms_input"
      />
      <b-form-input
        v-model="password"
        type="password"
        required
        :placeholder="$h.capitalize($t('global.login.password'))"
        class="ms_input"
      />
      <ms-button variant="action" @click.native="handleOk" fluid>{{ $t("global.login.submit") | capitalize }}</ms-button>
    </b-form>
  </div>
</template>

<script>
/**
 * @vuepress
 * ---
 * title: Login component
 * headline: "MyStation component: Login"
 * sidebarDepth: 0 # To disable auto sidebar links
 * prev: false # Disable prev link
 * next: false # Disable prev link
 * ---
 */

/**
 * Login component
 */
export default {
  name: 'Login',
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    /**
     * Handle click on 'login' submit button.
     *
     * Call 'auth' module login method ([auth module](../../mystation/modules/auth)).
     * If success, switch to main interface. Else, show error in modal.
     * @public
     * @param {Object} evt - The event payload
     * @returns {void}
     */
    async handleOk (evt) {
      // Prevent click
      evt.preventDefault()
      // Wait for login function
      let loginResponse = await this.$root.auth.login({
        username: this.username,
        password: this.password
      })
      // If error
      if (loginResponse instanceof Error) {
        let errorId
        if (!loginResponse.response) {
          // Login server error
          errorId = 'e0100'
        } else {
          switch (loginResponse.response.status) {
            // Authentication error
            case 401:
              errorId = 'e0101'
              break
            default:
              // Login server error
              errorId = 'e0100'
          }
        }
        // Show ui error
        this.$ErrorManager.throw(errorId, loginResponse)
      } else {
        // Prevent from admin password change
        if (loginResponse) {
          // Emit event on root event bus to trigger USER_LOGGED hook
          this.$root.emit('user-logged-hook')
        }
      }
    }
  }
}
</script>
