<template>
  <div class="ms_collapse">
    <p class="ms_collapse_button" v-b-toggle="id" v-ripple>
      {{ collapseTitle }}
      <span class="ms_collapse_button_caret"><v-icon :name="collapseButtonCaret"></v-icon></span>
    </p>
    <b-collapse :id="id" @show="switchCaretName('caret-up')" @hide="switchCaretName('caret-down')" class="ms_collapse_content">
      <slot></slot>
    </b-collapse>
  </div>
</template>

<script>
export default {
  name: 'MsCollapse',
  props: {
    id: {
      type: String
    },
    collapseTitle: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      collapseButtonCaret: 'caret-down'
    }
  },
  methods: {
    switchCaretName: function (name) {
      this.collapseButtonCaret = name
    }
  }
}
</script>
