/*

    Variables

*/

// Default units
$ms-units-xs: $__THEME_UNITS_XS__;
$ms-units-s: $__THEME_UNITS_S__;
$ms-units-m: $__THEME_UNITS_M__;
$ms-units-l: $__THEME_UNITS_L__;
$ms-units-xl: $__THEME_UNITS_XL__;

// Default margin value
$ms-margin-xs: $ms-units-xs;
$ms-margin-s: $ms-units-s;
$ms-margin-m: $ms-units-m;
$ms-margin-l: $ms-units-l;
$ms-margin-xl: $ms-units-xl;

// Default padding value
$ms-padding-xs: $ms-units-xs;
$ms-padding-s: $ms-units-s;
$ms-padding-m: $ms-units-m;
$ms-padding-l: $ms-units-l;
$ms-padding-xl: $ms-units-xl;

// Spacers (.p-*, .px-*, etc...)
$spacers: (
  0: 0,
  1: $ms-units-xs,
  2: $ms-units-s,
  3: $ms-units-m,
  4: $ms-units-l,
  5: $ms-units-xl,
);

// Fonts
$helvetica-font: Helvetica, sans-serif;

// UI configuration
$main-icon-width: $__THEME_ICON_WIDTH__;
$header-height: $__THEME_HEADER_HEIGHT__;
$leftbar-width: $__THEME_LEFTBAR_WIDTH__;
$rightbar-width: $__THEME_RIGHTBAR_WIDTH__;

// Overwrite bootstrap variables

$theme-colors: (
  "primary"   : $__THEME_PRIMARY_COLOR__,
  "secondary" : $__THEME_SECONDARY_COLOR__,
  "tertiary"  : $__THEME_TERTIARY_COLOR__,
  "action"    : $__THEME_MS_BLUE_COLOR__,
  "danger"    : $__THEME_MS_RED_COLOR__,
  "warning"   : $__THEME_MS_RED_COLOR__,
  "light"     : $__THEME_LIGHT_COLOR__,
  "blue"      : $__THEME_MS_BLUE_COLOR__,
  "green"     : $__THEME_MS_GREEN_COLOR__,
  "red"       : $__THEME_MS_RED_COLOR__,
  "grey"      : grey
);

$body-bg: $__THEME_PRIMARY_COLOR__;
$body-color: $__THEME_LIGHT_COLOR__;

$font-family-sans-serif: $helvetica-font;

$font-size-base: $__THEME_FONT_SIZE__;                              // 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25;              // $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * .875;              // $font-size-base * .875 !default;

$ms-font-base: $font-size-base;
$ms-font-lg: $font-size-lg;
$ms-font-sm: $font-size-sm;

$border-radius: 2px;
$border-radius-sm: 2px;
$border-radius-lg: 2px;

$input-bg: transparent;
$input-border-color: $__THEME_SECONDARY_COLOR__;

$link-color: $__THEME_MS_BLUE_COLOR__;
$link-decoration: none;
$link-hover-color: $__THEME_MS_BLUE_COLOR__;

// Modals
$modal-content-border-color: transparent;  // rgba($black, .2) !default;
$modal-content-border-width: 0; // $border-width !default;
$modal-content-border-radius: 0; // $border-radius-lg !default;

// Animate-sass override

// By default, some sass mixins are deactivated
// Activate <class> where class is an Animate.css class name
// (see documentation https://github.com/tgdev/animate-sass)
$use-fade-in: true; // Activate all 'fadeIn*' classes
$use-fade-out: true; // Activate all 'fadeOut*' classes

// Vue select override

$vs-colors: (
        lightest: rgba(60, 60, 60, 0.26),
        light: rgba(60, 60, 60, 0.5),
        dark: #333,
        darkest: rgba(0, 0, 0, .15),
) !default;

//  Global Component Variables
$vs-component-line-height: 1.8; // 1.4 !default;
$vs-component-placeholder-color: $__THEME_LIGHT_COLOR__; // inherit !default;

//  Active State
$vs-state-active-bg: $__THEME_TERTIARY_COLOR__; // #5897fb !default;
$vs-state-active-color: $__THEME_LIGHT_COLOR__; // #fff !default;

//  Disabled State
$vs-state-disabled-bg: rgb(248, 248, 248) !default;
$vs-state-disabled-color: map_get($vs-colors, 'light') !default;
$vs-state-disabled-controls-color: map_get($vs-colors, 'light') !default;
$vs-state-disabled-cursor: not-allowed !default;

//  Borders
$vs-border-width: 2.5px; // 1px !default;
$vs-border-style: solid; // solid !default;
$vs-border-radius: 4px; // 4px !default;
$vs-border-color: $__THEME_TERTIARY_COLOR__; // map_get($vs-colors, 'lightest') !default;

//  Component Controls: Clear, Open Indicator
$vs-controls-color: map_get($vs-colors, 'light') !default;
$vs-controls-size: 1 !default;
$vs-controls-deselect-text-shadow: 0 1px 0 #fff;

//  Selected
$vs-selected-bg: #f0f0f0 !default;
$vs-selected-border-color: $vs-border-color !default;
$vs-selected-border-style: $vs-border-style !default;
$vs-selected-border-width: $vs-border-width !default;

//  Dropdown
$vs-dropdown-z-index: 1000 !default;
$vs-dropdown-min-width: 160px !default;
$vs-dropdown-max-height: 350px !default;
$vs-dropdown-box-shadow: 0px 3px 6px 0px map_get($vs-colors, 'darkest') !default;
$vs-dropdown-bg: #fff !default;
