/*
  Main SCSS
*/

@import "_variables";

// Dependencies
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import '~animate-sass/_animate.scss';
@import "~vue-select/src/scss/vue-select.scss";


@import 'ms_Header.scss';
@import 'ms_Leftbar.scss';
@import 'ms_Mainframe.scss';
@import 'ms_Dashboard.scss';
@import 'ms_Rightbar.scss';
@import 'ms_Link.scss';
@import 'ms_AppMarket.scss';
@import 'ms_Settings.scss';
@import 'ms_Login.scss';
@import 'ms_Modals.scss';

/*   Fonts    */

// @font-face {
//     font-family: "Coolvetica";
//     src: url("assets/fonts/Coolvetica/coolvetica_rg.ttf") format("truetype"),
//          url("assets/fonts/Coolvetica/coolvetica_rg.woff2") format("woff2"),
//          url("assets/fonts/Coolvetica/coolvetica_rg.woff") format("woff");
//     font-weight: normal;
//     font-style: normal;
// }


/*   Global   */

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-y: scroll;
}

// app
#app {
  // 
}

// Main container
#ms_main_container {
  width: 100%;
  padding: 0;
  margin: 0;
}

// Inputs
.ms_input {

  height: auto; // bootstrap .form-control overwriting
  transition: border-color 400ms ease-in-out; // bootstrap .form-control overwriting
  filter: none; // To remove mozilla filter on :-moz-autofill (when input is autocomplete)
  border: 2.5px solid theme-color("tertiary");
  background-color: theme-color("secondary");
  padding: $ms-padding-xs $ms-padding-s;
  border-radius: 4px;
  font-size: inherit;
  color: $body-color;
  transition: all 400ms;

  &:invalid {
    box-shadow: none;
  }

  &:valid, &.is-valid,
  &:invalid, &.is-invalid {
    border-color: theme-color("tertiary");
  }

  &::placeholder {
    // color: theme-color("tertiary");
    color: #786C72;
  }

  &:focus {
    color: inherit;
    border-color: theme-color("tertiary");
    background-color: theme-color("secondary");
    &::placeholder {
      color: transparent;
    }
  }

  &:hover, &:focus {
    // // Inset
    // // -webkit-box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.3) inset;
    // // box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.3) inset;
    // transform: scale(1.02);
    // transform-origin: center;
  }
}

// Collapses
.ms_collapse {

}

.ms_collapse_button {
  @extend .btn;
  @extend .btn-secondary;
  width: 100%;
  text-align: left;
  font-weight: bold;
  cursor: pointer;
}

.ms_collapse_button_caret {
    float: right;
}

.ms_collapse_content {
    // padding-right: $ms-2;
    // padding-left: $ms-2;
    background-color: theme-color("secondary");
    margin-bottom: $ms-margin-m;
}

// Loading
#ms_mainLoading {
    position: fixed;
    z-index: 990;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: theme-color("primary");;
    text-align: center;
    padding-top: 200px;
}


/* animate.css special classes */

/* -> because animate-sass is used */

/* Delay classes (100ms to 10s) */
@for $i from 100 through 10000 {
  .delay-#{$i}ms {
    animation-delay: ($i * 1ms);
  }
}
  
.fast {
  animation-duration: 0.5s;
}

.slow {
  animation-duration: 2s;
}

.slower {
  animation-duration: 3s;
}

// bootstrap

// To remove focus & active shadow on buttons and input
.form-control.active.focus,
.form-control.active:focus,
.form-control.focus,
.form-control.focus:active,
.form-control:active:focus,
.form-control:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none  !important;
}

.btn-primary.focus,
.btn-primary.focus:active,
.btn-primary:focus
.btn-primary.active,
.btn-primary.active.focus,
.btn-primary.active:focus {
  background-color: theme-color("primary");
}

.btn-primary.hover,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: theme-color("secondary");
}

.btn-secondary.focus,
.btn-secondary.focus:active,
.btn-secondary:focus
.btn-secondary.active,
.btn-secondary.active.focus,
.btn-secondary.active:focus {
  background-color: theme-color("secondary");
}

.btn-secondary.hover,
.btn-secondary:hover,
.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: theme-color("tertiary");
}

.btn-tertiary.focus,
.btn-tertiary.focus:active,
.btn-tertiary:focus
.btn-tertiary.active,
.btn-tertiary.active.focus,
.btn-tertiary.active:focus {
  background-color: theme-color("tertiary");
}

.btn-tertiary.hover,
.btn-tertiary:hover,
.btn-tertiary:not(:disabled):not(.disabled):active {
  background-color: grey;
}

.container {
  padding: 0;
}

// vue-select (form select)

.v-select .vs__search::placeholder,
.v-select .vs__dropdown-toggle,
.v-select .vs__dropdown-menu {
  background: $__THEME_SECONDARY_COLOR__;
  color: $body-color;
}

.v-select .vs__search {
  color: $__THEME_LIGHT_COLOR__;
}

.v-select .vs__selected-options {
  padding: 0 4px;
}

.v-select .vs__selected {
  color: $__THEME_LIGHT_COLOR__;
}

.v-select .vs__actions {
  padding: 4px 10px 0 3px;
}

.v-select .vs__clear,
.v-select .vs__open-indicator {
  fill: $__THEME_TERTIARY_COLOR__;
}


// vue-color (color pickers)
// slider
.vc-slider-hue-warp .vc-hue-picker {
  height: 22px !important;
  border-radius: 3px !important;
  transform: translate(-7px, -6px) !important;
  background-color: $__THEME_TERTIARY_COLOR__ !important;
}
.vc-slider-swatch {
  margin-right: $ms-margin-xs !important;
  .vc-slider-swatch-picker {
    transition: all ease 400ms !important;
    border-radius: 3px !important;
  }
  .vc-slider-swatch-picker.vc-slider-swatch-picker--active {
    border-radius: 3px !important;
  }
}
.vc-slider-swatch:last-child {
  margin-right: 0 !important;
}

// vue-pretty-json
// To custom font size (default: 14px)
.vjs-tree {
    font-size: inherit !important;
}