#app-market-container {

    .refresh-button {
        display: inline-block;
        color: grey;
        cursor: pointer;
        transition: all ease 400ms;
        span {
            padding-bottom: 2px;
            border-bottom: 1px solid transparent;
            transition: all ease 400ms;
        }
        .fa-icon {
            margin-right: 4px;
            margin-top: -2px;
        }
        &:hover {
            color: $__THEME_LIGHT_COLOR__;
            span {
            border-color: inherit;
            }
        }
    }

    .app-market-app-list {

        .app-market-app-element {

            background-color: theme-color("secondary");
            padding: $ms-padding-s;
            border-radius: 4px;

            .app-header {
                background-color: theme-color("tertiary");
                border: 2px solid theme-color("tertiary");
                padding: $ms-padding-s;
                border-radius: 4px;
                margin-bottom: $ms-margin-s;
                &.installed {
                    border: 2px solid theme-color("green");
                }
                p {
                    margin: 0;
                }
            }

            .app-label {
                // border-left: 2px solid theme-color("blue");
                font-weight: bold;
                margin: 0;
                // padding-left: $ms-padding-s;
            }

            .app-author {
                margin: 0;
                color: grey;
                .fa-icon {
                    margin-top: -2px;
                }
            }

            .app-url {
                margin-bottom: $ms-margin-xs;
            }

            .app-description {
                // Do nothing
            }

            .app-buttons {
                .installed-indicator {
                    color: theme-color("green");
                    padding-right: $ms-padding-s;
                }
            }
        }
    }

}