/*    Dashboard    */

#ms_dashboard {

    .ms_dashboard_no_app_message {
        background-color: theme-color("secondary");
        border-radius: 4px;
        padding: $ms-padding-s;
        color: grey;
        margin-bottom: $ms-margin-m;
        .appmarket_link {
            color: theme-color("blue");
            cursor: pointer;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }

    // .ms_dashboard_pancake {

    //     background-color: theme-color("secondary");
    //     border-radius: 4px;

    //     .ms_dashboard_pancake_title {
    //         font-weight: bold;
    //     }
    // }

    // .ms_dashboard_pancake_small {
    //     @extend .ms_dashboard_pancake;
    // }
    // .ms_dashboard_pancake_medium {
    //     @extend .ms_dashboard_pancake;
    // }
    // .ms_dashboard_pancake_large {
    //     @extend .ms_dashboard_pancake;
    // }
}