/*   Header   */

#ms_header{
    height: $header-height;
    padding: $ms-padding-s 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: $body-bg;
    width: 100%;
    box-shadow: 0px 5px 10px $__THEME_PRIMARY_COLOR__;

    #ms_header_mystation_button {
        width: $leftbar-width;
        cursor: pointer;
        text-align: center;
    }
    #ms_header_content {
        margin-left: $ms-padding-s;
        width: auto;
        flex-grow: 1; // Black magic
        position: relative;
        padding-right: $ms-padding-s;
        h1{
            font-size: 2em;
            font-weight: 500;
            margin: 0;
        }
        .ms_header_icons {
            position: absolute;
            right: $ms-padding-s;
            top: 0;
            height: 100%;
            padding: 4px 0;
        }
    }
    #ms_header_right {
        width: $rightbar-width;
        margin-left: auto; // Black magic
        padding: 0 $ms-padding-s 0 10px;
        img {
            width: $main-icon-width;
            height: $main-icon-width;
        }
        #ms_header_right_username {
            margin-left: 12px;
        }
    }
}