/*  Link List */

#ms_link {
    padding: 20px 20px 20px 20px;
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
            margin: 0;
        }
        div{
            display: flex;
        }
        .deleteLink{
            transition: 0.4s;
            &:hover{
                background:#9C3C23;
            }  
            svg {
                transition: 0.4s;
            }
        }
        .deleteLink2{
            transition: 0.4s;
            background:#9C3C23;
            svg {
                transition: 0.4s;
                transform: rotate(45deg);
            }
            svg path{
                fill: white;
            }
        }
        button{
            margin-left: 20px;
            border-radius: 7px;
            border-color: transparent;
            transition: 0.4s;
            display: flex;
            padding: 6px;
            cursor: pointer;
            &:focus{
                outline: none;
            }
            &:hover{
                background: #7FB9A4;
                svg path{
                    fill: white;
                }
            }
            svg path{
                fill: #8b8484;
            }
        }
    }
    ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
        padding: 0;
        margin: 40px 20px 40px 20px;

        li{
            display: flex;
            align-items: center;
            margin: 10px 10px 10px 10px;
            background-color: white;
            padding: 5px 5px 5px 5px;
            border-radius: 3px;
            a{
                margin-left: 5px;
                text-decoration: none;
                background-color: #2C2C2C;
                color: white;
                padding: 5px 20px 5px 20px;
                border-radius: 3px;
                font-weight: 100;
                text-transform: capitalize;
                transition: 0.4s;
                &:hover{
                    background-color: #6CBBA2;
                }
            }

            img{
                width: 1.5em;
                height: auto;
                margin: 0px 5px 0px 5px;
            }
        }
        
    }
    
}




#ms_link2 {
    padding: 20px 20px 20px 20px;
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
            margin: 0;
        }
        div{
            display: flex;
        }
        .deleteLink{
            transition: 0.4s;
            &:hover{
                background:#9C3C23;
            }  
            svg {
                transition: 0.4s;
            }
        }
        .deleteLink2{
            transition: 0.4s;
            background:#9C3C23;
            svg {
                transition: 0.4s;
                transform: rotate(45deg);
            }
            svg path{
                fill: white;
            }
        }
        button{
            margin-left: 20px;
            border-radius: 7px;
            border-color: transparent;
            transition: 0.4s;
            display: flex;
            padding: 6px;
            cursor: pointer;
            &:focus{
                outline: none;
            }
            &:hover{
                background: #7FB9A4;
                svg path{
                    fill: white;
                }
            }
            svg path{
                fill: #8b8484;
            }
        }
    }
    ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
        padding: 0;
        margin: 40px 20px 40px 20px;

        li{
            display: flex;
            align-items: center;
            margin: 10px 10px 10px 10px;
            background-color: white;
            padding: 10px 10px 10px 10px;
            border-radius: 3px;
            flex-direction: column;
            a{
                text-decoration: none;
                background-color: #2C2C2C;
                padding: 5px 35px 5px 35px;
                margin-top: 10px;
                border-radius: 3px;
                color:white;
                font-weight: 100;
                text-transform: capitalize;
                transition: 0.4s;
                &:hover{
                    background-color: #6CBBA2;
                }
            }

            img{
                width: 2.4em;
                height: auto;
            }
        }
        
    }
    
}
