/*  Login   */

#ms_login {

    width: 260px;
    margin: $ms-margin-xl auto 0 auto;
    text-align: center;

    #ms_login_logo {
        margin-bottom: $ms-margin-m;
    }

    #ms_login_logo_title {
        font-size: 32px;
        margin-bottom: $ms-margin-m;
    }

    #ms_login_form {

        input {
            text-align: center;
            margin: 0 auto $ms-margin-s auto;
        }

    }
}