/*    Leftbar    */

#ms_leftbar {

    background-color: theme-color("primary");
    position: fixed;
    left: 0;
    top: $header-height;
    height: 100%;
    width: $leftbar-width;
    padding: 0 $ms-padding-s;

    #ms_leftbar_app_list {

        padding: 0;

        .ms_leftbar_app {

            margin: 1em 0 1em 0;
            list-style-type: none;
        }
    }

}

