/*    Mainframe    */

#ms_main_frame{

    margin: $header-height $rightbar-width 0 $leftbar-width;
    padding: $ms-padding-s $ms-padding-s 0 $ms-padding-s;

    .ms_app_container {

        border-top: 3px solid theme-color("secondary");
        // border-right: 3px solid theme-color("secondary");
        // border-left: 3px solid theme-color("secondary");
        // border-bottom: 3px solid theme-color("secondary");
        // border-radius: 4px;

        // App container header
        .ms_app_container_header {

            position: relative;
            z-index: 1;
            width: 100%;

            // Tabs container
            .ms_app_container_header_tabs {

                list-style-type: none;
                margin: 0;
                padding: 0;
                // background-color: theme-color("secondary");

                li {
                    margin: 0;
                    padding: $ms-padding-xs;
                    display: inline-block;
                }

                .ms_app_container_header_tab,
                .ms_app_container_current_tab {

                    // border-right: 3px solid theme-color("secondary");
                    border-bottom: 2px solid theme-color("secondary");
                    font-size: $font-size-sm;
                    transition: all ease 400ms;

                    &:first-child {
                        // border-left: 3px solid theme-color("secondary");
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                .ms_app_container_current_tab {
                    border-bottom: 2px solid theme-color("blue");
                }
            }

            // 'Help' button
            .ms_app_container_header_help {

                position: absolute;
                top: 6px;
                right: 8px;
                display: block;
                width: 16px;
                height: 16px;

                &:hover {
                    cursor: pointer;
                }
                
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }
        // App container content
        .ms_app_container_content {
            padding: $ms-padding-m 0;
        }
    }
}