//// Global modal properties

.ms_modal {
    .ms_modal_title {
        @extend h4 !optional;
        font-weight: bold;
        margin-bottom: $ms-margin-s;
    }
    
    .ms_modal_subtitle {
        font-weight: bold;
    }
    
    .ms_collapse_content {
        padding: $ms-padding-s;
    }
    
}

.modal-backdrop {
    opacity: 0.7;
}

//// Components

// GlobalErrorModal
.ms_GlobalErrorModal_quote {
    background-color: black;
    padding: $ms-padding-m;
    margin-bottom: $ms-margin-m;
}

#ms_GlobalErrorModal_json {
    font-size: $ms-font-sm;
    overflow-x: scroll;
    background-color: black;
    padding: $ms-padding-m;
}