/*    Rightbar    */

#ms_rightbar {

    background-color: theme-color("primary");
    position: fixed;
    top: $header-height;
    height: 100%;
    width: $rightbar-width;
    right: 0;
    padding: $ms-padding-s $ms-padding-s 0 $ms-padding-s;

    ul {
        list-style-type: none;
        padding: 0px;    
    }

    .icon {
        width:1.5em;
        margin-right:10px;
    }

    li {
        margin-bottom: 10px;
    }

    .ms_rightbar_system_container,
    .ms_rightbar_network_container {
        background-color: theme-color("secondary");
        padding: $ms-padding-s;
        border-radius: 4px;
        margin-bottom: $ms-margin-s;
    }
}



