#settings-container {
    .settings-user-role-info {
        background-color: theme-color("secondary");
        border-radius: 4px;
        padding: $ms-padding-s;
        margin-bottom: $ms-margin-m;
        p {
            margin-bottom: 0;
        }
    }
    .settings-block {
        border-radius: 4px;
        background-color: theme-color("secondary");
        padding: $ms-padding-s;
        margin-bottom: $ms-margin-m;
        .settings-list {
            padding: 0;
            margin: 0;
            .settings-list-item {
                border-left: 2px solid theme-color("blue");
                padding-left: $ms-padding-s;
                // padding-top: $ms-padding-xs;
                // padding-bottom: $ms-padding-xs;
                margin-bottom: $ms-padding-s;
                line-height: 46px;
                &:last-child {
                    margin-bottom: 0;
                }
                .item-value {
                    border-radius: 4px;
                    background-color: theme-color("tertiary");
                    padding: $ms-padding-xs;
                    margin-left: $ms-margin-s;
                    color: grey;
                    border: 2px solid theme-color("tertiary");
                    display: inline-block;
                    line-height: 1.4rem;
                }
                .ms_input {
                    width: auto;
                    margin: 0;
                    display: inline-block;
                }
            }
        }
    }
}