<template>
  <ms-modal
    :v-model="vModel"
    id="ms_AppInstallModal"
    :title="$h.capitalize($t('modals.appInstallModal.title'))"
    :ok="ok"
    :ok-title="$h.capitalize($t('global.install'))"
    :cancel="cancel"
    :cancel-title="$t('global.cancel')"
    :hide-buttons="hideButtons"
  >
    <p v-if="hideButtons">
      <icon-basic-load width="28" height="28"/>
      <span>{{ $t("global.loading") | capitalize }}</span>
    </p>
    <i18n path="modals.appInstallModal.message" tag="p">
      <!-- ref {0} -->
      {{ app.name }}
    </i18n>
  </ms-modal>
</template>

<script>
/**
 * AppInstallModal component
 */
export default {
  name: 'AppInstallModal',
  props: {
    // V-Model: to show the modal
    vModel: {
      type: Boolean,
      default: false
    },
    // App: app to uninstall
    app: {
      type: Object
    },
    // Ok: function to call in response to the click on 'ok' button
    ok: {
      type: Function
    },
    // Cancel: function to call in response to the click on 'cancel' button
    cancel: {
      type: Function
    },
    // Hide buttons: boolean to show or hide buttons
    hideButtons: {
      type: Boolean
    }
  }
}
</script>
