<template>
  <ms-modal
    :v-model="vModel"
    id="ms_AppUpdateModal"
    :title="$h.capitalize($t('modals.appUpdateModal.title'))"
    :ok="ok"
    :ok-title="$h.capitalize($t('global.confirm'))"
    :cancel="cancel"
    :cancel-title="$h.capitalize($t('global.cancel'))"
    :hide-buttons="hideButtons"
  >
    <div v-if="app">
      <p v-if="hideButtons">
        <icon-basic-load width="28" height="28"/>
        <span>{{ $t("global.loading") | capitalize }}</span>
      </p>
      <i18n path="modals.appUninstallModal.message" tag="p">
        <!-- ref {0} -->
        {{ app.name }}
        <!-- ref {1} -->
        {{ app.lastVersion().version }}
      </i18n>
    </div>
  </ms-modal>
</template>

<script>
/**
 * AppUpdateModal component
 */
export default {
  name: 'AppUpdateModal',
  props: {
    // V-Model: to show the modal
    vModel: {
      type: Boolean,
      default: false
    },
    // App: app to uninstall
    app: {
      type: Object
    },
    // Ok: function to call in response to the click on 'ok' button
    ok: {
      type: Function
    },
    // Cancel: function to call in response to the click on 'cancel' button
    cancel: {
      type: Function
    },
    // Hide buttons: boolean to show or hide buttons
    hideButtons: {
      type: Boolean
    }
  }
}
</script>
