<template>
  <ms-modal
    :v-model="system.mustAdminPasswordBeChanged"
    id="ms_ChangeAdminPasswordModal"
    :title="$h.capitalize($t('modals.changeAdminPsswdModal.title'))"
    :ok="confirm"
    :ok-title="$h.capitalize($t('global.confirm'))"
    :ok-state="isValid"
    :cancel="cancel"
    :hide-buttons="!showModalContent"
  >
    <p class="text-red">{{ $t('modals.changeAdminPsswdModal.message') }}</p>
    <b-form>
      <!-- Current password input -->
      <b-form-group
        id="input-group-current-password"
        :label="$h.capitalize($t(`modals.changeAdminPsswdModal.oldPasswordLabel`) + ':')"
        label-for="change-admin-password-current"
      >
        <b-form-input
          v-model="currentPassword"
          id="change-admin-password-current"
          type="password"
          :state="currentPasswordState"
          required
          class="ms_input mb-2"
        />
      </b-form-group>
      <!-- New password input -->
      <b-form-group
        id="input-group-new-password"
        :label="$h.capitalize($t(`modals.changeAdminPsswdModal.newPasswordLabel`) + ':')"
        label-for="change-admin-password-new"
        :description="$t(`modals.changeAdminPsswdModal.newPasswordValidationDesc`)"
      >
        <b-form-input
          v-model="newPassword"
          id="change-admin-password-new"
          type="password"
          :state="newPasswordState"
          required
          class="ms_input mb-2"
        />
      </b-form-group>
      <!-- Confirm new password input -->
      <b-form-group
        id="input-group-confirm-new-password"
        :label="$h.capitalize($t(`modals.changeAdminPsswdModal.confirmNewPasswordLabel`) + ':')"
        label-for="change-admin-password-confirm-new"
      >
        <b-form-input
          v-model="confirmNewPassword"
          id="change-admin-password-confirm-new"
          type="password"
          :state="confirmNewPasswordState"
          required
          class="ms_input mb-2"
        />
      </b-form-group>
    </b-form>
  </ms-modal>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
/**
 * ChangeAdminPasswordModal component
 */
export default {
  name: 'ChangeAdminPasswordModal',
  data () {
    return {
      currentPassword: '',
      newPassword: '',
      confirmNewPassword: '',
      isLoading: false
    }
  },
  computed: {
    ...mapState([
      'system'
    ]),
    currentPasswordState: function () {
      return this.currentPassword.length > 0
    },
    newPasswordState: function () {
      // Minimum: 6 characters
      // At least 1 upper case
      // At least 1 lower case
      // At least 1 number
      return /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,}$/.test(this.newPassword)
    },
    confirmNewPasswordState: function () {
      return this.newPasswordState && this.newPassword === this.confirmNewPassword
    },
    isValid: function () {
      return this.currentPasswordState && this.newPasswordState && this.confirmNewPasswordState
    },
    showModalContent: function () {
      return !this.isLoading
    }
  },
  methods: {
    ...mapActions([
      'changeAdminPassword'
    ]),
    ...mapMutations([
      'SET_MUST_ADMIN_PASSWORD_BE_CHANGED'
    ]),
    confirm: async function () {
      this.isLoading = true
      const response = await this.changeAdminPassword({
        currentPassword: this.currentPassword,
        newPassword: this.newPassword
      })
      this.isLoading = false
      if (response instanceof Error) {
        // Show ui error
        this.$ErrorManager.throw('e0000', response)
      } else {
        // Reload page
        window.location.reload()
      }
    },
    cancel: function () {
      this.SET_MUST_ADMIN_PASSWORD_BE_CHANGED(false)
    },
    reset: function () {
      this.currentPassword = ''
      this.newPassword = ''
      this.confirmNewPassword = ''
      this.isLoading = false
    }
  }
}
</script>
