<template>
  <ms-modal
    :v-model="vModel"
    id="ms_CreateUserModal"
    :title="$h.capitalize($t('modals.createUserModal.title'))"
    :ok="confirm"
    :ok-title="$h.capitalize($t('global.confirm'))"
    :ok-state="isValid"
    :cancel="cancel"
    :hide-buttons="!showModalContent"
    @ok="$emit('ok')"
    @cancel="$emit('cancel')"
  >
    <p>{{ $t('modals.createUserModal.message') }}</p>
    <b-form>
      <!-- Username input -->
      <b-form-group
        id="input-group-username"
        :label="$h.capitalize($t(`modals.createUserModal.usernameLabel`) + ':')"
        label-for="create-user-username"
        :description="$t(`modals.createUserModal.usernameValidationDesc`)"
      >
        <b-form-input
          v-model="username"
          id="create-user-username"
          type="text"
          :state="usernameState"
          :formatter="usernameFormatter"
          required
          class="ms_input mb-2"
        />
      </b-form-group>
      <!-- Firstname input -->
      <b-form-group
        id="input-group-firstname"
        :label="$h.capitalize($t(`modals.createUserModal.firstnameLabel`) + ':')"
        label-for="create-user-firstname"
      >
        <b-form-input
          v-model="firstname"
          id="create-user-firstname"
          type="text"
          :state="firstnameState"
          required
          class="ms_input mb-2"
        />
      </b-form-group>
      <!-- Lastname input -->
      <b-form-group
        id="input-group-lastname"
        :label="$h.capitalize($t(`modals.createUserModal.lastnameLabel`) + ':')"
        label-for="create-user-lastname"
      >
        <b-form-input
          v-model="lastname"
          id="create-user-lastname"
          type="text"
          :state="lastnameState"
          required
          class="ms_input mb-2"
        />
      </b-form-group>
      <!-- Password input -->
      <b-form-group
        id="input-group-password"
        :label="$h.capitalize($t(`modals.createUserModal.passwordLabel`) + ':')"
        label-for="create-user-password"
        :description="$t(`modals.createUserModal.passwordValidationDesc`)"
      >
        <b-form-input
          v-model="password"
          id="create-user-password"
          type="password"
          :state="passwordState"
          required
          class="ms_input mb-2"
        />
      </b-form-group>
      <!-- Confirm password input -->
      <b-form-group
        id="input-group-confirm-password"
        :label="$h.capitalize($t(`modals.createUserModal.confirmPasswordLabel`) + ':')"
        label-for="create-user-password-confirm"
      >
        <b-form-input
          v-model="confirmPassword"
          id="create-user-password-confirm"
          type="password"
          :state="confirmPasswordState"
          required
          class="ms_input mb-2"
        />
      </b-form-group>
    </b-form>
  </ms-modal>
</template>

<script>
import { mapState, mapActions } from 'vuex'
/**
 * CreateUserModal component
 */
export default {
  name: 'CreateUserModal',
  data () {
    return {
      username: '',
      firstname: '',
      lastname: '',
      password: '',
      confirmPassword: '',
      isLoading: false
    }
  },
  props: {
    vModel: Boolean
  },
  computed: {
    ...mapState('Users', [
      'users'
    ]),
    usernameState: function () {
      return this.username.length > 0 && /^[A-Za-z0-9_]+$/.test(this.username) && this.checkIfUserExists(this.username)
    },
    firstnameState: function () {
      return this.firstname.length > 0
    },
    lastnameState: function () {
      return this.lastname.length > 0
    },
    passwordState: function () {
      // Minimum: 6 characters
      // At least 1 upper case
      // At least 1 lower case
      // At least 1 number
      return /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,}$/.test(this.password)
    },
    confirmPasswordState: function () {
      return this.passwordState && this.password === this.confirmPassword
    },
    isValid: function () {
      return this.usernameState && this.firstnameState && this.lastnameState && this.passwordState && this.confirmPasswordState
    },
    showModalContent: function () {
      return !this.isLoading
    }
  },
  methods: {
    ...mapActions('Users', [
      'createUser'
    ]),
    checkIfUserExists: function (username) {
      return !this.users.find(user => user.username === username)
    },
    usernameFormatter: function (value) {
      const cleaned = value.replace(/[^A-Za-z0-9_]/g, '')
      return cleaned
    },
    confirm: async function () {
      this.isLoading = true
      const response = await this.createUser({
        username: this.username,
        password: this.password,
        firstname: this.firstname,
        lastname: this.lastname
      })
      this.isLoading = false
      if (response instanceof Error) {
        // Show ui error
        this.$ErrorManager.throw('e0000', response)
        return response
      } else {
        this.reset()
        return true
      }
    },
    cancel: function () {
      return true
    },
    reset: function () {
      this.username = ''
      this.password = ''
      this.confirmPassword = ''
      this.firstname = ''
      this.lastname = ''
    }
  }
}
</script>
