<template>
  <ms-modal
    :v-model="vModel"
    id="ms_DeleteUserModal"
    :title="$h.capitalize($t('modals.deleteUserModal.title'))"
    :ok="confirm"
    :ok-title="$h.capitalize($t('global.confirm'))"
    :cancel="cancel"
    @ok="$emit('ok')"
    @cancel="$emit('cancel')"
  >
    <i18n path="modals.deleteUserModal.message" tag="p">
      <!-- ref {0} -->
      <strong>{{ getUser(userId) ? getUser(userId).username : null }}</strong>
    </i18n>
  </ms-modal>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
/**
 * DeleteUserModal component
 */
export default {
  name: 'DeleteUserModal',
  data () {
    return {
      isLoading: false
    }
  },
  props: {
    vModel: Boolean,
    userId: Number
  },
  computed: {
    ...mapGetters('Users', [
      'getUser'
    ])
  },
  methods: {
    ...mapActions('Users', [
      'deleteUser'
    ]),
    confirm: async function () {
      this.isLoading = true
      const response = await this.deleteUser(this.userId)
      this.isLoading = false
      if (response instanceof Error) {
        // Show ui error
        this.$ErrorManager.throw('e0000', response)
        return response
      } else {
        // If current user -> logout
        if (this.$root.auth.user().id === this.userId) {
          this.$root.auth.logout()
        }
        return true
      }
    },
    cancel: function () {
      return true
    }
  }
}
</script>
