<template>
  <ms-modal
    :v-model="isError"
    id="ms_GlobalErrorModal"
    :title="errorMessage"
    :ok="clearError"
  >
    <div class="ms_GlobalErrorModal_quote"><p class="text-warning">{{ errorDescription }}</p></div>
    <ms-collapse id="errorDetailsCollapse" :collapse-title="$h.capitalize($t('modals.globalErrorModal.errorDetails'))">
      <p>{{ errorRealMessage }}</p>
      <perfect-scrollbar id="ms_GlobalErrorModal_json">
      <!-- <div id="ms_GlobalErrorModal_json"> -->
        <vue-json-pretty
          v-if="errorDetails"
          :data="errorDetails"
          :deep="1"
        >
        </vue-json-pretty>
      <!-- </div> -->
      </perfect-scrollbar>
    </ms-collapse>
  </ms-modal>
</template>

<script>
/**
 * GlobalErrorModal component
 */
export default {
  name: 'GlobalErrorModal',
  computed: {
    /**
     * Computed setter and getter for reactive 'error' based on `this.$ErrorManager.error`
     */
    isError: {
      get () {
        if (this.$ErrorManager.error) {
          return true
        } else {
          return false
        }
      },
      // Declare empty setter
      set () {}
    },
    /**
     * The 'message' property value (with locale)
     * @return {string}
     */
    errorMessage: function () {
      if (this.$ErrorManager.error) {
        return this.$ErrorManager.error.message[this.$i18n.locale]
      } else {
        return ''
      }
    },
    /**
     * The 'description' property value (with locale)
     * @return {string}
     */
    errorDescription: function () {
      if (this.$ErrorManager.error) {
        return this.$ErrorManager.error.description[this.$i18n.locale]
      } else {
        return ''
      }
    },
    /**
     * Real Error message if object of type Error received by ErrorManager throw() function
     * @return {string}
     */
    errorRealMessage: function () {
      if (this.$ErrorManager.error) {
        if (this.$ErrorManager.error.options.message) {
          return 'Error: ' + this.$ErrorManager.error.options.message
        } else {
          return this.$ErrorManager.error.message
        }
      } else {
        return ''
      }
    },
    /**
     * Return error or empty object for vue-json-pretty
     * @return {object|boolean}
     */
    errorDetails: function () {
      const err = this.$ErrorManager.error
      if (err) {
        if (err.options) {
          if (err.options instanceof Error) {
            return {
              message: err.options.message,
              file: err.options.fileName,
              line: err.options.lineNumber,
              column: err.options.columnNumber,
              stack: err.options.stack
            }
          } else {
            var opts = JSON.parse(JSON.stringify(err.options, function (key, value) {
              if (value instanceof XMLHttpRequest) {
                return {
                  response: value.response
                }
              } else {
                return value
              }
            }))
            return opts
          }
        } else {
          return false
        }
      } else {
        return false
      }
    }
  },
  methods: {
    /**
     * Clear error
     */
    clearError: function () {
      this.$ErrorManager.clear()
    }
  }
}
</script>
