<template>
  <b-modal
    v-model="vModel"
    :id="id"
    :size="size"
    :centered="centered"
    :no-close-on-backdrop="noCloseOnBackdrop"
    :key="componentKey"
    :hide-buttons="hideButtons"
    hide-header
    hide-footer
    body-bg-variant="primary"
    footer-bg-variant="primary"
  >
    <div class="ms_modal">
      <slot name="title">
        <p v-if="getTitle" class="ms_modal_title">{{ title }}</p>
      </slot>
      <slot>
        {{ $ErrorManager.errorRefs['e0000'] }}
      </slot>
      <slot name="buttons">
        <ms-button v-if="!hideButtons" variant="action" :disabled="!okState" @click.native="handleOk" inline>{{ getOkTitle | capitalize }}</ms-button>
        <ms-button v-if="!hideButtons && !cancelDisabled" variant="warning" @click.native="handleCancel" inline>{{ getCancelTitle | capitalize }}</ms-button>
      </slot>
    </div>
  </b-modal>
</template>

<script>
export default {
  name: 'MsModal',
  data () {
    return {
      // To re-render the component
      componentKey: 0
    }
  },
  props: {
    // V-Model: to show the modal
    vModel: {
      type: Boolean,
      default: false
    },
    // Id: html id of modal
    id: {
      type: String
    },
    // Title: (optional) value of modal title
    title: {
      type: String
    },
    // Size: (optional) string ('sm', 'md', 'lg' or 'xl')
    size: {
      type: String,
      default: 'md'
    },
    // Centered: (optional) boolean to vertically center modal
    centered: {
      type: Boolean,
      default: true
    },
    // No close on backdrop: (optional) boolean to activate/unactivate close on backdrop
    noCloseOnBackdrop: {
      type: Boolean,
      default: true
    },
    // Hide buttons: (optional) boolan to hide buttons
    hideButtons: {
      type: Boolean,
      default: false
    },
    // Ok: (optional) function to call in response to the click on 'ok' button
    ok: {
      type: Function,
      default () {
        return true
      }
    },
    // Ok title: (optional) label (text or html) for 'ok' button
    okTitle: {
      type: String,
      default: null
    },
    // Ok variant: (optional) variant class for ok button
    okVariant: {
      type: String,
      default: 'action'
    },
    // Ok state: (optional) is button enabled
    okState: {
      type: Boolean,
      default: true
    },
    // Cancel: (optional) function to call in response to the click on 'cancel' button
    cancel: {
      type: Function,
      default: null
    },
    // Cancel title: (optional) label (text or html) for 'cancel' button
    cancelTitle: {
      type: String,
      default: null
    }
  },
  computed: {
    getTitle: function () {
      if (this.title && this.title !== '') {
        return this.title
      } else {
        return false
      }
    },
    getOkTitle: function () {
      if (this.okTitle) {
        return this.okTitle
      } else {
        return this.$t('global.ok')
      }
    },
    getCancelTitle: function () {
      if (this.cancelTitle) {
        return this.cancelTitle
      } else {
        return this.$t('global.cancel')
      }
    },
    cancelDisabled: function () {
      if (this.cancel) {
        return false
      } else {
        return true
      }
    }
  },
  methods: {
    /**
     * Default 'ok' function
     * Hides the modal
     * @return {boolean} Return true
     */
    defaultOk: function () {
      this.hide()
      return true
    },
    handleOk: async function () {
      await this.ok()
      this.$emit('ok')
    },
    handleCancel: async function () {
      await this.cancel()
      this.$emit('cancel')
    }
  },
  watch: {
    // Watcher to force update render in the modal when it displays -> to fix collapsed elements issue
    vModel: function (from, to) {
      if (to) {
        this.componentKey += 1
      }
    }
  }
}
</script>
