<template>
  <ms-modal
    :v-model="vModel"
    id="ms_ResetUserPasswordModal"
    :title="$h.capitalize($t('modals.resetUserPsswdModal.title'))"
    :ok="confirm"
    :ok-title="$h.capitalize($t('global.confirm'))"
    :ok-state="isValid"
    :cancel="cancel"
    :hide-buttons="!showModalContent"
    @ok="$emit('ok')"
    @cancel="$emit('cancel')"
  >
    <p>{{ $t('modals.resetUserPsswdModal.message') }} <strong>{{ getUser(userId) ? getUser(userId).username : null }}</strong></p>
    <b-form>
      <!-- New password input -->
      <b-form-group
        id="input-group-new-password"
        :label="$h.capitalize($t(`modals.resetUserPsswdModal.newPasswordLabel`) + ':')"
        label-for="reset-user-password-new"
        :description="$t(`modals.resetUserPsswdModal.newPasswordValidationDesc`)"
      >
        <b-form-input
          v-model="newPassword"
          id="reset-user-password-new"
          type="password"
          :state="newPasswordState"
          required
          class="ms_input mb-2"
        />
      </b-form-group>
      <!-- Confirm new password input -->
      <b-form-group
        id="input-group-confirm-new-password"
        :label="$h.capitalize($t(`modals.resetUserPsswdModal.confirmNewPasswordLabel`) + ':')"
        label-for="reset-user-password-confirm-new"
      >
        <b-form-input
          v-model="confirmNewPassword"
          id="reset-user-password-confirm-new"
          type="password"
          :state="confirmNewPasswordState"
          required
          class="ms_input mb-2"
        />
      </b-form-group>
    </b-form>
  </ms-modal>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
/**
 * ResetUserPasswordModal component
 */
export default {
  name: 'ResetUserPasswordModal',
  data () {
    return {
      newPassword: '',
      confirmNewPassword: '',
      isLoading: false
    }
  },
  props: {
    vModel: Boolean,
    userId: Number
  },
  computed: {
    ...mapGetters('Users', [
      'getUser'
    ]),
    newPasswordState: function () {
      // Minimum: 6 characters
      // At least 1 upper case
      // At least 1 lower case
      // At least 1 number
      return /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,}$/.test(this.newPassword)
    },
    confirmNewPasswordState: function () {
      return this.newPasswordState && this.newPassword === this.confirmNewPassword
    },
    isValid: function () {
      return this.newPasswordState && this.confirmNewPasswordState
    },
    showModalContent: function () {
      return !this.isLoading
    }
  },
  methods: {
    ...mapActions('Users', [
      'resetUserPassword'
    ]),
    confirm: async function () {
      this.isLoading = true
      const response = await this.resetUserPassword({
        userId: this.userId,
        newPassword: this.newPassword
      })
      this.isLoading = false
      if (response instanceof Error) {
        // Show ui error
        this.$ErrorManager.throw('e0000', response)
        return response
      } else {
        this.reset()
        return true
      }
    },
    cancel: function () {
      return true
    },
    reset: function () {
      this.newPassword = ''
      this.confirmNewPassword = ''
      this.isLoading = false
    }
  }
}
</script>
