<template>
  <div id='ms_header'>
    <div id='ms_header_mystation_button'>
      <Logo :width=48 :height=48 :status="buttonStatus" @click.native="myStationClick"></Logo>
    </div>
    <div id="ms_header_content">
      <transition
        mode="out-in"
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
      >
        <h1 v-if="displayTitle">{{ title }}</h1>
      </transition>
      <div class="ms_header_icons">
        <v-icon name="exclamation-circle" scale=1.5></v-icon>
      </div>
    </div>
    <div id="ms_header_right">
      <img src="../../../assets/img/profile.png" alt='Profile'>
      <span id="ms_header_right_username">{{ $root.auth.user().username }}</span>
    </div>
  </div>
</template>

<script>
/**
 * @vuepress
 * ---
 * title: Header component
 * headline: "MyStation component: Header"
 * sidebarDepth: 0 # To disable auto sidebar links
 * prev: false # Disable prev link
 * next: false # Disable prev link
 * ---
 */

import { mapState } from 'vuex'

/**
 * Header component
 */
export default {
  name: 'Header',
  data () {
    return {
      title: null,
      displayTitle: true
    }
  },
  computed: {
    ...mapState([
      'system'
    ]),
    buttonStatus: function () {
      // Return associated loading
      return this.$LoadingManager.loadings.logoLoading.status ? 'loading' : ''
    }
  },
  methods: {
    /**
     * Format date for dashboard title
     * @public
     * @returns {string}
     */
    formatDate: function () {
      const date = new Date()
      const day = this.$t(`global.date.days[${date.getDay()}]`)
      const month = this.$t(`global.date.months[${date.getMonth()}]`)
      return `${this.$h.capitalize(day)} ${date.getDate()} ${this.$h.capitalize(month)} ${date.getFullYear()}`
    },
    /**
     * On MyStation button click
     * @public
     * @param {Object} event - The event
     * @returns {boolean}
     */
    myStationClick: function (event) {
      event.preventDefault()
      this.$root.ui.display('Dashboard')
      return true
    }
  },
  watch: {
    // Watch on store.state.system.mainframeContent
    // because we need to control animation transitions between titles
    // --> set state property 'mainframeContent' or 'currentApp' to null
    // doesn't reevaluate value and reactivity
    'system.mainframeContent': function (to, from) {
      this.displayTitle = false
      // Wait for transition duration
      setTimeout(() => {
        // If an app is opened
        if (this.system.currentApp !== null) {
          this.title = this.system.currentApp.title
        } else {
          // If dashboard
          if (to === 'Dashboard') {
            this.title = 'Dashboard - ' + this.formatDate()
          // Else: Settings or AppMarket or null
          } else if (to === 'AppMarket') {
            this.title = this.$t('global.appMarket.title')
          } else if (to === 'Settings') {
            this.title = this.$h.capitalize(this.$t('global.settings.title'))
          } else {
            this.title = null
          }
        }
        this.displayTitle = true
      }, 500)
    }
  }
}
</script>
