<template>
  <icon-base :width="width" :height="height" iconName="Load">
    <polygon
      id="big-hex"
      points="150,10 270,80 270,220 150,290 30,220 30,80"
      style="transform-origin:50% 50%;"
      fill="none"
      :stroke="color"
      stroke-width="20"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <animateTransform
        attributeName='transform'
        type="rotate"
        from="0"
        to="360"
        begin="0s"
        dur="3s"
        repeatCount="indefinite"
      />
    </polygon>
    <polygon
      id="small-hex"
      points="150,58 230,107 230,193 150,242 70,193 70,107"
      style="transform-origin:50% 50%;"
      fill="none"
      :stroke="color"
      stroke-width="20"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <animateTransform
        attributeName='transform'
        type="rotate"
        from="360"
        to="0"
        begin="0s"
        dur="3s"
        repeatCount="indefinite"
      />
    </polygon>
  </icon-base>
</template>

<script>
import IconBase from './IconBase.vue'
/**
 * IconBasicLoad component
 */
export default {
  name: 'IconBasicLoad',
  components: {
    IconBase
  },
  props: {
    width: {
      type: [Number, String],
      default: __THEME_ICON_WIDTH__
    },
    height: {
      type: [Number, String],
      default: __THEME_ICON_WIDTH__ // icon width = icon height
    },
    color: {
      type: String,
      default: '#fff' // White
    }
  }
}
</script>
