<!-- eslint-disable vue-i18n/no-raw-text -->
<template>
  <div :class="`ms_leftbar_app_icon_container ${currentAppClass} ${requireInteractClass}`">
    <svg xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 400 400"
      :width="GLOBALS.__THEME_ICON_WIDTH__"
      :height="GLOBALS.__THEME_ICON_WIDTH__"
      role="presentation"
      class="ms_leftbar_app_icon_decoration"
    >
      <g>
        <path
          class="indicator_line"
          d="M200,60 320,130 320,270 200,340 80,270 80,130z"
          :stroke="GLOBALS.__THEME_SECONDARY_COLOR__"
          stroke-width="18"
          fill="transparent"
        />
      </g>
    </svg>
    <div class="ms_leftbar_req_interact_indicator"></div>
    <img
      class="ms_leftbar_app_icon"
      :src="'data:image/png;base64,' + appIcon"
      :width="GLOBALS.__THEME_ICON_WIDTH__"
      :height="GLOBALS.__THEME_ICON_WIDTH__"
      @click="click()"
    />
  </div>
</template>

<script>

export default {
  name: 'LeftbarAppIcon',
  props: {
    click: Function,
    appIcon: String,
    current: Boolean,
    requireInteract: Boolean
  },
  computed: {
    currentAppClass: function () {
      return this.current ? 'ms_leftbar_current_app' : ''
    },
    requireInteractClass: function () {
      return this.requireInteract ? 'ms_leftbar_require_interact' : ''
    }
  }
}
</script>

<style lang="scss" scoped>

.ms_leftbar_app_icon_container {

  position: relative;
  width: $main-icon-width;
  height: $main-icon-width; // Same height

  .ms_leftbar_app_icon {
    width: 100%;
    height: auto;
    cursor: pointer;
    position: absolute;
    transform: scale(1);
    transform-origin: center;
    animation: 400ms maxIcon;
  }

  .ms_leftbar_app_icon_decoration {
    position: absolute;
    pointer-events: none;

    .indicator_line {
      opacity: 0;
      transform: scale(0);
      transform-origin: center;
      stroke-dasharray: 418;
      stroke-dashoffset: 0;
      animation: 400ms disappear;
    }
  }

  .ms_leftbar_req_interact_indicator {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: $__THEME_MS_RED_COLOR__;
    position: absolute;
    top: 21px;
    right: -8px;
    display: none;
  }

  &.ms_leftbar_require_interact {
    .ms_leftbar_req_interact_indicator {
      display: block;
    }
  }

  &.ms_leftbar_current_app {
    // Resize app icon
    .ms_leftbar_app_icon {
      transform: scale(0.7);
      transform-origin: center;
      animation: 400ms minIcon;
    }
    // Show decoration
    .ms_leftbar_app_icon_decoration {
      .indicator_line {
        transform: scale(1.4);
        transform-origin: center;
        opacity: 1;
        animation: 400ms appear;
      }
    }
  }
}

@keyframes minIcon {
  from { transform: scale(1); }
  to { transform: scale(0.7); }
}

@-moz-keyframes minIcon {
  from { transform: scale(1); }
  to { transform: scale(0.7); }
}

@-webkit-keyframes minIcon {
  from { transform: scale(1); }
  to { transform: scale(0.7); }
}

@keyframes maxIcon {
  from { transform: scale(0.7); }
  to { transform: scale(1); }
}

@-moz-keyframes maxIcon {
  from { transform: scale(0.7); }
  to { transform: scale(1); }
}

@-webkit-keyframes maxIcon {
  from { transform: scale(0.7); }
  to { transform: scale(1); }
}

@keyframes appear {
  from { transform: scale(0); opacity: 0; }
  to { transform: scale(1.4); opacity: 1; }
}

@-moz-keyframes appear {
  from { transform: scale(0); opacity: 0; }
  to { transform: scale(1.4); opacity: 1; }
}

@-webkit-keyframes appear {
  from { transform: scale(0); opacity: 0; }
  to { transform: scale(1.4); opacity: 1; }
}

@keyframes disappear {
  from { transform: scale(1.4); opacity: 1; }
  to { transform: scale(0); opacity: 0; }
}

@-moz-keyframes disappear {
  from { transform: scale(1.4); opacity: 1; }
  to { transform: scale(0); opacity: 0; }
}

@-webkit-keyframes disappear {
  from { transform: scale(1.4); opacity: 1; }
  to { transform: scale(0); opacity: 0; }
}
</style>
