<template>
  <svg xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 400 400"
    :width="width"
    :height="height"
    role="presentation"
  >
    <title
      id="MyStationLogo"
      lang="en"
    >MyStation logo</title> <!-- eslint-disable-line -->
    <g id="group" :class="(status === 'loading' ? 'loading' : '')">
      <path
        id="logo_S"
        d="M320,130 200,60 80,130 320,270 200,340 80,270"
        :stroke="sColor"
        stroke-width="20"
        stroke-linejoin="round"
        stroke-linecap="round"
        fill="transparent"
      />
      <g id="inside_group">
        <g style="transform-origin: center; transform: scale(0.7);">
          <path
            id="logo_Inside"
            ref="logo_Inside"
            d="M200,60 320,130 320,270 200,340 80,270 80,130 200,60 M200,200 80,130 M200,200 320,130 M200,200 200,340 M200,200 320,270 M200,200 80,270 M200,200 200,60"
            stroke="rgba(255, 255, 255, 0.10)"
            stroke-width="3"
            stroke-linejoin="round"
            stroke-linecap="round"
            fill="rgba(255, 255, 255, 0.2)"
          />
          <!-- 'slice' for loading -->
          <path
            id="logo_Inside_slice"
            ref="logo_Inside_slice"
            d="M200,200 80,270 200,340 320,270z"
            stroke="white"
            stroke-width="6"
            fill="rgba(255, 255, 255, 0.2)"
          />
        </g>
      </g>
      <path
        id="logo_M"
        d="M80,270 80,130 200,200 320,130 320,270"
        :stroke="mColor"
        stroke-width="20"
        stroke-linejoin="round"
        stroke-linecap="round"
        fill="transparent"
      />
      <path
        id="logo_Y"
        d="M200,200 80,130 M200,200 320,130 M200,200 200,340"
        :stroke="yColor"
        stroke-width="20"
        stroke-linejoin="round"
        stroke-linecap="round"
        fill="transparent"
      />
    </g>
  </svg>
</template>

<script>
export default {
  name: 'Logo',
  data () {
    return {
      logo: {
        inside: { animation: null } // To interval animate
      }
    }
  },
  props: {
    width: {
      type: Number,
      default: 240
    },
    height: {
      type: Number,
      default: 240
    },
    status: {
      type: String,
      default: ''
    },
    mColor: {
      type: String,
      default: __THEME_MS_GREEN_COLOR__
    },
    yColor: {
      type: String,
      default: __THEME_MS_BLUE_COLOR__
    },
    sColor: {
      type: String,
      default: __THEME_MS_RED_COLOR__
    }
  }
}
</script>

<style lang="scss" scoped>

#group {
  transform-origin: center;
  transform: scale(1.3);
  transition: transform 400ms;

  // Loading status
  &.loading {
    #logo_S, #logo_M, #logo_Y {
      transform: scale(0.9);
      stroke: $__THEME_TERTIARY_COLOR__;
    }
    #logo_S {
      transition-duration: 1200ms;
      transition-delay: 0;
    }
    #logo_M {
      transition-duration: 600ms;
      transition-delay: 200ms;
    }
    #logo_Y {
      transition-delay: 400ms;
    }
    #inside_group {
      transform: rotate(0);
      animation: 12000ms infinite rollInterval-2;
      #logo_Inside_slice {
        visibility: visible;
        animation: 2000ms bounce linear infinite;
      }
    }
  }

  #logo_S, #logo_M, #logo_Y {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transform-origin: center;
    transition: all 400ms;
  }

  #logo_S {
    transition-duration: 800ms;
    transition-delay: 0;
    animation: draw 2s linear forwards;
  }

  #logo_M {
    transition-duration: 600ms;
    transition-delay: 200ms;
    animation: draw 2s linear 2s forwards;
  }

  #logo_Y {
    transition-delay: 200ms;
    animation: draw 2s linear 4s forwards;
  }

  #inside_group {
    transform: rotate(0);
    transform-origin: center;
    animation: 12000ms infinite rollInterval;

    #logo_Inside_slice {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      transform: translateY(0);
      transform-origin: center;
      opacity: 0;
      visibility: hidden;
    }
  }

}

@keyframes draw {
  to { stroke-dashoffset: 0; }
}

@-moz-keyframes draw {
  to { stroke-dashoffset: 0; }
}

@-webkit-keyframes draw {
  to { stroke-dashoffset: 0; }
}

@keyframes rollInterval {
  0% { transform: rotate(0); }
  3.33333333% { transform: rotate(60deg); }
  16.66666666% { transform: rotate(60deg); }
  19.99999999% { transform: rotate(120deg); }
  33.33333333% { transform: rotate(120deg); }
  36.66666666% { transform: rotate(180deg); }
  50% { transform: rotate(180deg); }
  53.33333333% { transform: rotate(240deg); }
  66.66666666% { transform: rotate(240deg); }
  69.99999999% { transform: rotate(300deg); }
  83.33333333% { transform: rotate(300deg); }
  86.66666666% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}

@keyframes rollInterval-2 {
  0% { transform: rotate(0); }
  3.33333333% { transform: rotate(60deg); }
  16.66666666% { transform: rotate(60deg); }
  19.99999999% { transform: rotate(120deg); }
  33.33333333% { transform: rotate(120deg); }
  36.66666666% { transform: rotate(180deg); }
  50% { transform: rotate(180deg); }
  53.33333333% { transform: rotate(240deg); }
  66.66666666% { transform: rotate(240deg); }
  69.99999999% { transform: rotate(300deg); }
  83.33333333% { transform: rotate(300deg); }
  86.66666666% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}

@-moz-keyframes rollInterval {
  0% { transform: rotate(0); }
  3.33333333% { transform: rotate(60deg); }
  16.66666666% { transform: rotate(60deg); }
  19.99999999% { transform: rotate(120deg); }
  33.33333333% { transform: rotate(120deg); }
  36.66666666% { transform: rotate(180deg); }
  50% { transform: rotate(180deg); }
  53.33333333% { transform: rotate(240deg); }
  66.66666666% { transform: rotate(240deg); }
  69.99999999% { transform: rotate(300deg); }
  83.33333333% { transform: rotate(300deg); }
  86.66666666% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes rollInterval {
  0% { transform: rotate(0); }
  3.33333333% { transform: rotate(60deg); }
  16.66666666% { transform: rotate(60deg); }
  19.99999999% { transform: rotate(120deg); }
  33.33333333% { transform: rotate(120deg); }
  36.66666666% { transform: rotate(180deg); }
  50% { transform: rotate(180deg); }
  53.33333333% { transform: rotate(240deg); }
  66.66666666% { transform: rotate(240deg); }
  69.99999999% { transform: rotate(300deg); }
  83.33333333% { transform: rotate(300deg); }
  86.66666666% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}

@keyframes bounce {
  20% { opacity: 1; }
  30% { opacity: 1; }
  50% { transform: translateY(-140px); opacity: 0.3; }
  70% { opacity: 1; }
  80% { opacity: 1; }
  100% { transform: translateY(0); opacity: 0.3; }
}

@-moz-keyframes bounce {
  20% { opacity: 1; }
  30% { opacity: 1; }
  50% { transform: translateY(-140px); opacity: 0.3; }
  70% { opacity: 1; }
  80% { opacity: 1; }
  100% { transform: translateY(0); opacity: 0.3; }
}

@-webkit-keyframes bounce {
  20% { opacity: 1; }
  30% { opacity: 1; }
  50% { transform: translateY(-140px); opacity: 0.3; }
  70% { opacity: 1; }
  80% { opacity: 1; }
  100% { transform: translateY(0); opacity: 0.3; }
}
</style>
